/*
* Custom Mixins
*/

@mixin border-box {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

@mixin font-size($sizeValue: 1){
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue / 10) + rem;
}
@mixin font-smoothing{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@mixin image-replace {
  display: block;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}
@mixin float-clear {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}
@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
}
@mixin breakpoint-min($break) {
  @media (min-width: $break) { @content; }
} 

@mixin breakpoint-max($break){
  @media (max-width: $break) { @content; }
}

@mixin breakpoint-min-max($breakmin, $breakmax){
  @media (min-width: $breakmin + 1) and (max-width: $breakmax) { @content; }
}

@mixin smooth-skew{
  backface-visibility: hidden; 
  outline: 1px solid transparent;
}


@mixin linear-gradient($start, $stop, $from: 0%, $to: 100%) { 
  background: $start;
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
  background: -moz-linear-gradient(center top, $start $from, $stop $to);
  background: -moz-gradient(center top, $start $from, $stop $to);
  background: -webkit-linear-gradient(top, $start $from,$stop $to);
  background: -o-linear-gradient(top, $start $from,$stop $to);
  background: -ms-linear-gradient(top, $start $from,$stop $to);
  background: linear-gradient(to bottom, $start $from,$stop $to);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$stop}',GradientType=0 );
}

@mixin content-inner{
  margin: 0 auto; 
  padding-left: $padding; 
  padding-right: $padding; 
  max-width: $max-width; 
  @include breakpoint-min($tablet){
    padding-left: $padding-container; 
    padding-right: $padding-container; 
  }
}

@mixin border-arrow-up($bordercolor){
  border-bottom-width: 5px; 
  border-bottom-style: solid; 
  border-bottom-color: $bordercolor; 
  &:before{
    content: "";
    display: block; 
    position: absolute; 
    width: 0; 
    height: 0; 
    bottom: 0; 
    left: calc(50% - 20px); 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid $bordercolor;
  }
}

@mixin border-arrow-down($bordercolor){
  border-bottom-width: 5px; 
  border-bottom-style: solid; 
  border-bottom-color: $bordercolor; 
  &:before{
    content: "";
    display: block; 
    position: absolute; 
    width: 0; 
    height: 0; 
    bottom: -20px; 
    left: calc(50% - 20px); 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid $bordercolor;
  }
}

@mixin ellipsis ($ellipsis-width){
  display: inline-block;
  max-width: $ellipsis-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multiline-ellipsis($height, $lineheight, $ellipsiswidth) {

$ellipsiswidth: 3em !default;

    overflow: hidden;
    height: $height;
    line-height: $lineheight; 
    float: left; 
    width: 100%; 
    margin-left: -5px; 
    // word-break: break-all; 
    word-break: break-word; 
    white-space: pre-line; 

  &:before {
    content:"";
    float: right;
    width: 10px; 
    height: $height; 
  }

  &:after{
    content: "\02026";
    float: left; 
    position: relative;
    top: -50%; 
    left: 100%; 
    width: $ellipsiswidth; 
    margin-left: -$ellipsiswidth;
    text-align: right;
    background: none; 
    @include breakpoint-min($desktop){
      top: -($height - $lineheight);
    }
  }

}

 

