/* 
* Setup Sass variables
* 1. Sizes
* 2. Fonts
* 3. Colors
*/


/* Sizes */
$max-width: 1170px;
$margin: 60px;
$grid-spacing: 30px;

$padding-half: 10px; 
$padding: 20px; 
$padding-container: 40px; 

$column-unit: $max-width/12; 

/* Typography */ 

$line-height: 1.6;

/**** Colors ****/ 

/* Blues */
$light-blue: #98BFE6; 
// $teal: #32A19D; 
$teal: #28807c; 
$teal-dark: #28807c; 
$blue-light: #59E4EC; 
$blue-mid-light: #049DEF; 
$blue-mid-dark: #255477;  
$blue-dark: #072C3D; 

$blue-footer: #193653;   
$blue-body: #14304D; 
$blue-gradient-dark: #14304D; 
$blue-gradient-light: #1E4771;  

$blue-gradient-dark-hover: lighten($blue-gradient-dark, 10%);
$blue-gradient-light-hover: lighten($blue-gradient-light, 10%);

/* Oranges */
$orange: #FF7A3B; 

/* Grays */
$gray: #F3F3F3; 
$gray-dark: #777777; 

/* Blacks */
$black-transparent: rgba(0, 0, 0, 0.65); 

/* Breakpoints */
$desktop-xl: 1200px; 
$desktop-lg: 1120px; 
$menu-mq: 973px; 
$desktop: 960px; 
$tablet-lg: 850px;
$tablet: 720px;
$mobile: 620px;


/**** Fonts ****/
$open-sans: 'Open Sans', Helvetica, sans-serif;
$pt-sans: 'PT Sans', Helvetica, sans-serif; 
$glegoo: 'Glegoo', Times New Roman, serif; 
$interstate: 'Source Sans Pro', sans-serif; 
$source-sans: 'Source Sans Pro', sans-serif; 



/**** Images ****/

/* Arrows */
$arrow-purple: url("../images/arrow-purple.svg");
$arrow-white: url("../images/arrow-white.svg");

/* Logos */
$logo-color: url("../images/logo-color.svg");
$logo-white: url("../images/logo-white.svg");
$logo-color-png: url("../images/logo-color.png");
$logo-white-png: url("../images/logo-white.png");

/* Background Images */
$header-image: url("../images/header-image.jpg");
$heading-lined-background: url("../images/heading-lined-background.svg");
$map-background: url("../images/map-background.png");
$michigan-outline-background: url("../images/michigan-outline-background.svg");

$yellow-lines-background: url("../images/yellow-line.svg");
$ampersand-background: url("../images/ampersand.svg");


