/* ==========================================================================
   Generic
   - Our reset and custom SASS variables and Mixins
   ========================================================================== */
@import "generic/mixins";
@import "generic/variables";


/* ==========================================================================
   Base | Basic Element Styles
   ========================================================================== */

@import "base/sprites";

/* ==========================================================================
   Objects | Custom Object Styles 
   Remember to keep new additions object-oriented.
   Ex:
   @import 'articles';
   @import 'calendar';
   @import 'map';
   ========================================================================== */

@import "ie/*"; 


//Open Sans
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);

//PT Sans
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

//Glegoo
@import url(http://fonts.googleapis.com/css?family=Glegoo:400,700);

//Interstate
@font-face {
    font-family: 'Interstate';
    src: url('../fonts/interstate.eot');
    src: url('../fonts/interstate.eot?#iefix') format('embedded-opentype'),
                url('../fonts/interstate.woff') format('woff'),
                url('../fonts/interstate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
