/*
* Animations
*/

 %transition-bg-color, .transition-bg-color{
 	transition: background-color 0.3s ease-out; 
 }

 %transition-bg, .transition-bg{
  	transition: background 0.3s ease-out; 
 }

  %transition-bg-position, .transition-bg-position{
  	transition: background-position 0.3s ease-out; 
 }

 %transition-color, .transition-color{
 	transition: color 0.2s ease-out; 
 }

 %transition-opacity, .transition-opacity{
 	transition: opacity 0.2s ease-out; 
 }

 %transition-border-color, .transition-border-color{
 	transition: border-color 0.2s ease-out; 
 }


 %transition-menu-slide-in, .transition-menu-slide-in{
 	transition: opacity 0.2s ease-out, top 1s ease-out, z-index 0.3s ease-out; 
 }

%transition-menu-slide-out, .transition-menu-slide-out{
 	transition: opacity 0.5s ease-out, top 0.3s ease-out, z-index 0.3s ease-out; 
 }
