/*
* Button Styles
*/

%button-base{
	text-transform: uppercase; 
	display: block; 
	width: 200px; 
	height: 50px; 
	line-height: 50px; 
	text-align: center; 
	@extend %transition-border-color; 
	@include float-clear; 
	a{
		display: block; 
		width: 100%; 
		height: 100%; 
		@extend %transition-color; 
	}
}

%button-white{
	@extend %button-base; 
	border: 1px solid $blue-mid-dark; 
	color: $blue-mid-dark;  
	&:hover, &:focus{
		border-color: $blue-mid-light; 
		a{
			color: $blue-mid-light; 
			text-decoration: none; 
		}
	}	
}

%button-white-clear{
	@extend %button-base; 
	border: 1px solid white; 
	color: white; 
	background: none; 
	&:hover, &:focus{
		border-color: $blue-light; 
		a{
			color: $blue-light; 
			text-decoration: none; 
		}
	}
}


%button-white-semitransparent{
	@extend %button-base; 
	border: 1px solid white; 
	color: white; 
	background: $black-transparent; 
	&:hover, &:focus{
		border-color: $blue-light; 
		a{
			color: $blue-light; 
			text-decoration: none; 
		}
	}
}