/*
* Footer
*/

#footerArea{
	background: $blue-footer;
	a{
		@extend %transition-color; 
		&:hover, &:focus{
			color: $blue-light; 
			text-decoration: none; 
		}
	} 
	#expandedFooter{
		padding: $padding-container; 
		@include content-inner; 
		padding-bottom: $padding !important; 
		.footer_4{
			margin: 0; 
			width: 100%; 
			display: block; 
			@include breakpoint-min($tablet){
				float: left; 
				width: 25%; 
				display: inline-block; 
				padding: 0 $padding; 
			}
			h3{
				color: $blue-light; 
				text-transform: uppercase; 
				margin-bottom: $padding; 
				display: inline-block; 
				border-bottom: 1px dashed white; 
				@extend %pt700; 
				@include font-size(16);

			}
		}
		#cat_68042 a img{
			max-width: 100%; 
		}
		
	}
	#agencylinks, #policylinks{
		display: none; 
		width: 100%; 
		// display: block; 
		float: none; 
		clear: both; 
		text-align: center; 
		// padding: $padding-half 0; 
		padding: 0; 
	}
	#agencylinks{
		// padding-top: $padding; 
		border-top: 1px dashed white; 
	}
	.copyright{
		display: block; 
		width: 100%; 
		text-align: center; 
		margin: 0; 
		padding: 0 0 $padding-container 0; 
		clear: both; 
		@include float-clear; 
	}
}
