/*
* Header
*/
$banner-links-margin-top: 50px; 
$super-top-height: 82px; 


#bannerLinks .migovlink a, #menubannerLinks .migovlink a, #superTop a{
	@extend %transition-color; 
	&:hover, &:focus{
		color: $blue-light; 
		background: transparent; 
	}
}


#superTop{
	height: $super-top-height; 
	line-height: $super-top-height; 
	text-transform: uppercase; 
	background: none; 
	display: block; 
	@extend %os700; 
	@include content-inner; 
	@include font-size(12);
}

ul#bannerLinks{
	display: none; 
	padding: 0; 
	height: inherit;  
	line-height: 1; 
	li{
		@include breakpoint-min($menu-mq){
			border-left: 1px solid $teal; 
			&:first-of-type{ 
				border: none; 
			}
		}
		a{
			padding: $padding-half; 
		}
	}
	li.migovlink a{
		padding: $padding-half; 
	}
	@include breakpoint-min($menu-mq){
		display: inline-block; 
	}
}


//Mobile Menu
.mean-container{
	.mean-nav{
		margin-left: -$padding; 
		@include breakpoint-min($tablet){
			margin-left: -$padding-container; 
		}
	}
	.mean-bar{
		width: 100%; 
		background: none; 
	}
}

#mainnav{
	li a{
		background-color: $blue-dark; 
		color: white; 
		padding: 0 0 0 $padding;
		width: 100%; 
		@extend %transition-bg-color;
		&:hover, &:focus{
			background-color: $blue-mid-dark; 
		}
	}
}

#bannerLinks, #superTop, #menubannerLinks{
	.migovlink a{
		background-image: none; 
		width: 100%;
		padding: 0 0 0 $padding; 
	}
}

//Logo
#bannerArea{
	@include content-inner; 
	padding-right: $padding !important; 
	@include breakpoint-min-max($tablet, $menu-mq){
		float: left; 
		padding-bottom: $padding; 
	}
}

#siteBanner{
	margin: 0 auto; 
	width: 250px; 
	@include breakpoint-min($menu-mq){
		position: absolute; 
		top: $super-top-height; 
	}
	@include breakpoint-min($tablet){
		width: 320px; 
	}
	img{
		width: 100%; 
		height: auto; 
	}
}

.siteBannerTxt{
	@extend %visually-hidden; 
}


//Search
#topNavSearch{
	top: 0 !important; 
	display: block; 
	background: none; 
	padding: $padding $padding-container $padding-container $padding; 
	width: 100%; 
	text-align: center; 
	@include breakpoint-min-max($tablet, $menu-mq){
		padding: $padding-container $padding-container $padding-container $padding; 
	}
	@include breakpoint-min($tablet){
		text-align: right; 
		@include content-inner; 
	} 
}


#usasearchform{
	width: 275px; 
	margin: 0 auto; 
	@include float-clear;
	@include breakpoint-min($tablet){
		float: right; 	
	}
	input#query, input#go{
		float: left; 
		display: inline-block; 
		margin: 0; 
		height: 40px; 
	} 
	input#query{
		width: 225px; 
	}
	input#go{
		width: 50px; 
		text-transform: uppercase; 
		color: white; 
		background-color: $teal; 
		border: none; 
		@extend %transition-bg-color; 
		&:hover, &:focus{
			background-color: darken($teal, 10%);
		}

	}
}

.utilityItems{
	display: none; 
}


//main nav

