/*
* Navigation
*/

$main-nav-height: 60px; 

//bootstrap reset
.nav>li>a:hover, .nav>li>a:focus{
	background: none; 
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background: none; 
}

.dropdown-menu>li>a{
	color: inherit; 
	padding: 0; 
	line-height: $line-height; 
	white-space: pre-line; 
}

.main-navigation #nav ul li:hover a:hover, #nav li:hover li a:hover{
	background-color: none !important; 
}

//end bootstrap reset


#menu{
	margin-top: $padding; 
	height: $main-nav-height; 
	background: $teal; 
}

#flyout{
	@include content-inner; 
	height: $main-nav-height; 
}

.main-navigation #nav{
	background: $teal; 
	ul{
		box-shadow: none; 
		overflow: hidden; 
		opacity: 0;  
		z-index: -1; 
		@extend %transition-opacity;  
	}
	li{
		height: 100%; 
		margin: 0; 
	}
	> li{
		// width: percentage(1/8);
		width: percentage(1/7);
		height: $main-nav-height; 
		line-height: $main-nav-height; 
		padding: 0; 
		border-left: 1px solid $blue-dark; 
		background: $teal; 
		@extend %transition-bg; 
		&:hover, &:focus{
			background: darken($teal, 10%);
			a.lvl1{
				color: white; 
			}
		}
		&:last-of-type{
			border-right: 1px solid $blue-dark; 
		}
		&:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(8){
			> ul{
				top: 0 !important; 
				position: relative; 
				float: right; 
				left: 0 !important; 
			}
			ul ul{
				left: -100% !important; 
				top: 0 !important; 
			}
		}

		> ul{
			background: $gray; 
			> li{
				background: $gray; 
				@extend %transition-bg; 
				> ul {
					opacity: 0; 
					z-index: -1; 
					overflow: hidden; 
					display: inline-block; 
					> li{
						background: $gray; 
						@extend %transition-bg; 
						a.lvl3{
							background: none !important; 
							@extend %transition-bg; 
						}
						&:hover{
							background: $gray-dark !important; 
						}
					}
				}
				&:hover {
					background: $gray-dark !important; 
					> ul{
						opacity: 1; 
						z-index: 10; 
						overflow: visible; 
						@extend %transition-opacity; 
					}
				}
				a.lvl2{
					background: none !important; 
					padding: 0; 
					height: inherit; 
					display: inline-block; 
					@extend %transition-bg; 
				}
			}
		}
		&:hover > ul{
			min-width: 200px; 
			opacity: 1; 
			z-index: 10; 
			overflow: visible; 
			@extend %transition-opacity; 
		}
		a{
			vertical-align: top; 
			padding: 0 $padding-half; 
			height: inherit; 
			white-space: pre; 
		}
		a.lvl1{
			background: none; 
			padding: 0; 
			height: inherit; 
			display: inline-block; 
			@extend %transition-bg;  
		}

		//sub-sub menu
		ul ul{
			left: 100% !important; 
			li{
				height: $main-nav-height; 
			}
		}

	}
}




//Bottom Meanmenu
#menu-left-link{
	@include visually-hidden; 
	padding: 0 !important; 
}
#rightNav{
	@include visually-hidden; 
	padding: 0; 
	width: 1px !important; 
}