/* Special Text Styles */

.panel-heading{
	margin: $padding 0; 
	text-align: center; 
	text-transform: uppercase; 
	@include font-size(42);
	@include breakpoint-min($tablet){
		margin: 60px 0; 
		@include font-size(54);
	}
}

%heading-lined, .heading-lined{
	margin: $padding 0; 
	text-transform: uppercase; 
	text-align: center; 
	display: block; 
	position: relative; 
	width: 100%;
	@extend %ss900; 
	@include breakpoint-min($tablet){
		margin: 60px 0; 
		@include font-size(54);
	} 
	&:before{
		content: "";
		display: block; 
		position: absolute; 
		width: 100%; 
		height: 10px; 
		left: 0; 
		top: 50%; 
		background: $gray; 
	}
}

%heading-lined-inner{
	position: relative; 
	background: white; 
	padding: 5px $padding; 
}


%heading-plain, .heading-plain{
	width: 100%; 
	text-align: center; 
	@include font-size(44); 
	margin: 0; 
	a{
		text-transform: uppercase; 
		text-decoration: none; 
		color: $blue-dark; 
	}
}

