@charset "utf-8";
/* CSS Document */

/*---------BOOTSTRAP CLASS MODIFICATIONS------*/
.container-fluid {
	max-width: 1170px;
}
h1#breadcrumb{font-size:1em;margin:0}
div.comp, .inner{display:block}
.list-group-item{margin-bottom:2px}
.list-group-item .contentBlock {/* position:relative; *//* top:6px */vertical-align: middle;display: table-cell;} 

.row {
  margin: 0px -15px;
}

/*-------------SPECIAL CSS FOR STATE SITES--------------*/
#superTop {
	width: 100%;
	text-align: right;
	height: 40px;
	background-color: #505060
}
#superTop .migovlink a {
	/* background-image: url(/images/miniMIgovLogo.png); */
	/* background-repeat: no-repeat; */
	display: inline-block;
	padding-left: 40px;
	/* width: auto; */
	/* height: 40px; */
}
ul#bannerLinks {
	margin: 0
}
div#menubannerLinks {
	display: none
}
#bannerLinks li, div#bannerLinks, div#menubannerLinks li, ul#bannerLinks {
	display: inline-block
}
#bannerLinks a, #menubannerLinks a, #superTop a {
	text-decoration: none;
	padding: 17px 10px 11px;
	display: block;
	color: #fff
}
#bannerLinks .migovlink a, #menubannerLinks .migovlink a {
	/* background-image: url(/images/miniMIgovLogo.png); */
	/* background-position: 0 0; */
	/* background-repeat: no-repeat; */
	/* display: inline-block; */
	/* text-align: right
 */}
#bannerLinks .migovlink a:hover, #menubannerLinks .migovlink a:hover, #superTop a:hover {
	background-position: 0 -45px;
	background-color: #FFF;
	color: #000
}
#superTop a#navreveal {
	padding: 6px 10px
}
.siteBannerTxt {
	position: absolute;
	top: 105px;
	display: block;
	z-index: 100;
	/* max-width: 480px; */
/* min-width: 240px; */
/* white-space: normal; */
/* margin-left: 4em; */
	color: #000;
	font-size: 1.2em;
/* font-weight: 400; */}
#siteBanner {
	display: table;
	margin: 0 0;
}
img.AGENCY_HEADER_L, img.AGENCY_HEADER_R {
	width: auto
}
img.AGENCY_HEADER_R {
	display: none
}
#topNavSearch {
	position: relative;
	/* z-index: 100; */top: -60px;/* right: 0px; *//* width: 100%; *//* text-align: right; *//* float: right; *//* padding: 0px 10px; */
	margin: 0px 35% -40px 35%;
	display: block;
	width: 60%;
	padding: 0px auto;
	background-color: rgba(81, 114, 137, 0.25);
}
#topNavSearch input#query {
	width: 90%;
	margin: 10px;
	height: 35px;
}
#contentWrapper {
	clear: both;
	padding-top: 20px;
}
#noprint {
	DISPLAY: none
}
#qrcode {
	DISPLAY: none
}
.utilityItems {
	text-align: right;
	width: 80px;
	position: relative;
	top: 30px;
	float: right;
}
.utilityItems DIV A {
	TEXT-ALIGN: center;
	MARGIN: 0px 2px;
	padding: 1px;
	DISPLAY: block;
	border: 1px solid #E7E7E7
}
.utilityItems DIV {
	DISPLAY: inline-block
}
.utilityItems DIV A:hover {
	BACKGROUND-REPEAT: no-repeat;
	background-position: bottom left;
	background-size: cover
}
.utilityItems DIV a#fb {
	background-color: #3B5998
}
.utilityItems DIV a#tw {
	background-color: #4099ff
}
.utilityItems DIV a#mailpage {
	background-color: #666
}
.accordLink {
	display: block
}
.LEFT {
	float: left
;
	margin: 10px;
	border: 0;
	background-color: transparent;
}
.RIGHT {
	float: right
}
.cTitle, P.cTitle, .catCallDisplayText1, .catCallDisplayText1 a {
	COLOR: #505060;
	/* FONT-SIZE: 2em; */
	/* line-height: 2em; */FONT-WEIGHT: bold;
	background: none;
	/* padding: 5px 5px; */
	display: block;
	/* text-align: center; */
	/* margin: 10px 0px; */
	/* text-transform: uppercase; */
}
.componentHeaderImg {
	/* padding: 10px; */
	Z-INDEX: 1;
	POSITION: relative;
}
.tiles {
	float: left
}
.tile {
	opacity: 0.8;
	max-width: 48%;
	/* min-width: 120px; */
	position: relative;
	float: left;
	border: 1px solid #666;
	margin: .5%;
}
#subTop {
	display: none
}
section#content {
	display: table;
}
#main.DW.page, #main.TW.page {/* display:table !important; */
	width: auto !important;
	float: none !important;
background-color: #fff;}
#footerArea {
	background-color: #505060;
}
#footerArea a, #footerArea {
	color: #fff
}
div#expandedFooter h3 {
	margin: 0
}
div#expandedFooter {
	display: block;
	width: 100%;
	text-align: left
}
div#expandedFooter ul {
	padding: 0;
	list-style-type: none
}
div#expandedFooter li {
	display: list-item;
	padding-bottom: 3px
}
div#expandedFooter h2 {font-size:1.4em; margin:20px 0px}
div#expandedFooter span {
	float: left;
	width: 100%
}
div#expandedFooter .footer_5 {
	width: 18%;
	FLOAT: LEFT;
	display: inline-block;
	margin: 0 1%
}
div#expandedFooter .footer_4 {
	width: 23%;
	FLOAT: LEFT;
	display: inline-block;
	margin: 0 1%
}
div#expandedFooter .footer_3 {
	width: 31%;
	FLOAT: LEFT;
	display: inline-block;
	margin: 0 1%
}
div#expandedFooter .footer_2 {
	width: 48%;
	FLOAT: LEFT;
	display: inline-block;
	margin: 0 1%
}
div#expandedFooter .footer_1 {
	width: 100%;
	FLOAT: LEFT;
	display: inline-block;
	margin: .25%;
	text-align: center
}
div#agencylinks.footer_1 {
	border-top: 1px solid #999;
	padding-top: 10px
}
div#agencylinks.footer_1 li a, div#policylinks.footer_1 li a {
	padding: 0 10px
}
div#expandedFooter .footer_1 ul {
	margin: 0;
	padding: 0
}
div#expandedFooter .footer_1 li {
	display: inline-block;
	margin: 0 20px
}
div#expandedFooter .footer_1 h4.footerHeader {
	display: none
}
.qltitleglobal, .qltitlelocal, .rltitle {
	font-weight: 700;
	font-size: 100%
}
img.docIcon {
	width: 23px;
	height: 9px
}
.docIcon.rss {
	float: right;
	clear: both
}
.copyright {
	display: block;
	font-size: .875em;
	width: 200px;
	margin: 10px auto
}
/*COMPONENT STYLES*/
.fullContent {
	width: 90%;
	margin: 0px auto;
	padding-bottom: 40px;
}
ul.contentList, ul.toggleList {
	padding: 0
}
div.comp ul {
	padding: 0
}
li.contentItem {
	display: block;
	margin: 0px 10px;
	padding: 10px 0px;
	/* border-top: 1px dashed #666; */
}
li.contentItem.dot {
	display: list-item;
	list-style-type: disc;
	/* margin-left: 30px; */
	padding: 4px 0px;
	/* border-top: 1px dashed #666; */
	position: relative;
	left: 10px;
}
.toggleList .authorInfo {
	display: none
}
div.comp {
	background-color: #fff;
	-webkit-flex: 1;  /* Safari 6.1+ */
	-ms-flex: 1;  /* IE 10 */
	flex: 1;
	padding: 5px;
}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 12px;
	MARGIN: 0;
	PADDING: 0;
}
 time{ padding: 5px;
  background-color: #DDD;
  display: table;
  width: 40px;
  height: 40px;
  text-align: center;
  float: left;
  text-transform: uppercase;
  margin: 5px;
  line-height: 14px;
 }
 time span{/* width: inherit; */display: block;}
 .splitCol {float: left;
  list-style: none;
  width: 49%;
 }
 

 
 .splitCol.col_2{/* width: 45% !important; */;/* margin: 1%; */}
 .splitCol.col_3{width: 30% !important;;margin: 1%;}
 .splitCol.col_4{width: 20% !important;;margin: 1%;}
/*-----------STYLES FOR CMA EDITING-----------*/
img {

}
a.pencil img, a.pencil {
	width: 23px !important;
	height: 18px !important;
	float: left;
}
a.pencil {
	width: auto !important;
	height: 18px !important;
	display: inline-block;
	background-color: #EAE71A !important;
	

	color: #000 !important;
	line-height: 1.2em;
}
a.clearLink {
	background-color: #096;
	color: #fff;
	display: inline;
	width: auto;
	float: left;
}
a.editLink{background-color:#eee;padding:0px 3px;border:1px solid #666}
@media (max-width: 480px) {
div#expandedFooter .footer_6 ,div#expandedFooter .footer_5,div#expandedFooter .footer_4 ,div#expandedFooter .footer_3 ,div#expandedFooter .footer_2 ,div#expandedFooter .footer_1 {width:48%; display:block}	

}

@media (max-width: 768px) {
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	width: 100%;
	display: block
}
  .splitCol.col_2, .splitCol.col_3, .splitCol.col_4{width: 95% !important}
.row-eq-height {
	display: block
}

div.comp {
  background-color: #FFF;
  /* -webkit-flex: 1; */
  -ms-flex: 1;
  /* flex: 1; */
  padding: 5px;
  display: table;
  width: 100%;
}
.deck  .card {width:23% !important}
div#expandedFooter .footer_6 ,div#expandedFooter .footer_5,div#expandedFooter .footer_4 ,div#expandedFooter .footer_3 ,div#expandedFooter .footer_2 ,div#expandedFooter .footer_1 {width:100%; display:block}
div#expandedFooter{font-weight:bold; }

.utilityItems {
  top: 13px;
}

}

@media (max-width: 960px) {
#topNavSearch {
	position: relative;
	z-index: 100;
	top: 8px !important;
	padding: 0px 10px;
	margin: 0px;
	display: block;
	width: 100%;
	background-color: rgba(81, 114, 137, 0.25);
}
#bannerLinks li, div#bannerLinks, div#menubannerLinks li, ul#bannerLinks{display:none}
#superTop .migovlink a{width: 90px;}
}
