.fc {
	TEXT-ALIGN: left; DIRECTION: ltr; FONT-SIZE: 0.8em
}
.fc TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, sans-serif
}
HTML .fc {
	
}
.fc TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.fc TH {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.fc-header {
	FONT-SIZE: 1em
}
.fc-header TD {
	TEXT-TRANSFORM: uppercase; BACKGROUND: url(../images/fullCalEventBG.png) #369 50% bottom; VERTICAL-ALIGN: middle; TEXT-DECORATION: none
}
.fc-header-left {
	TEXT-ALIGN: center
}
.fc-header-center {
	TEXT-ALIGN: center
}
.fc-header-right {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #cc9900
}
.fc-header-title {
	BORDER-BOTTOM: #ddd 0px solid; BORDER-LEFT: #ddd 0px solid; LINE-HEIGHT: 40px; DISPLAY: inline-block; BACKGROUND: url(../images/fullCalEventBG.png); COLOR: #fff; VERTICAL-ALIGN: top; BORDER-TOP: #ddd 0px solid; BORDER-RIGHT: #ddd 0px solid
}
.fc-header-title H2 {
	MARGIN-TOP: 0px; WHITE-SPACE: nowrap
}
.fc .fc-header-space {
	PADDING-LEFT: 10px
}
.fc-header .fc-button {
	VERTICAL-ALIGN: top
}
.fc-header .fc-button {
	MARGIN-RIGHT: -1px
}
.fc-header .fc-corner-right {
	MARGIN-RIGHT: 1px
}
.fc-header .ui-corner-right {
	MARGIN-RIGHT: 0px
}
.fc-header .fc-state-hover {
	Z-INDEX: 2
}
.fc-header .ui-state-hover {
	Z-INDEX: 2
}
.fc-header .fc-state-down {
	Z-INDEX: 3
}
.fc-header .fc-state-active {
	Z-INDEX: 4
}
.fc-header .ui-state-active {
	Z-INDEX: 4
}
.fc-content {
	CLEAR: both
}
.fc-view {
	WIDTH: 100%
}
.fc-widget-header {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.fc-widget-content {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.fc-state-highlight {
	BACKGROUND: #ffc
}
.fc-cell-overlay {
	FILTER: alpha(opacity=20); BACKGROUND: #9cf; opacity: .2
}
.fc-button {
	POSITION: relative; DISPLAY: inline-block; CURSOR: pointer; TEXT-DECORATION: none
}
.fc-state-default {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 0px solid; BORDER-TOP: 1px solid; BORDER-RIGHT: 0px solid
}
.fc-button-inner {
	POSITION: relative; FLOAT: left; OVERFLOW: hidden
}
.fc-state-default .fc-button-inner {
	BORDER-BOTTOM: #fff 0px solid; BORDER-LEFT: 1px solid; BORDER-TOP: 0px solid; BORDER-RIGHT: 1px solid
}
.fc-button-content {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.9em; PADDING-LEFT: 0.6em; PADDING-RIGHT: 0.6em; WHITE-SPACE: nowrap; BACKGROUND: #fff; FLOAT: left; HEIGHT: 1.9em; COLOR: #000000; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.fc-button-content .fc-icon-wrap {
	POSITION: relative; FLOAT: left; TOP: 50%
}
.fc-button-content .ui-icon {
	POSITION: relative; MARGIN-TOP: 0px; FLOAT: left; TOP: -50%
}
.fc-state-default .fc-button-effect {
	POSITION: absolute; TOP: 50%; LEFT: 0px
}
.fc-button-today {
	DISPLAY: none
}
.fc-state-default .fc-button-effect SPAN {
	BORDER-BOTTOM: #fff 0px solid; POSITION: absolute; FILTER: alpha(opacity=9); BORDER-LEFT: #fff 1px solid; BACKGROUND: #444; HEIGHT: 100px; BORDER-TOP: #fff 100px solid; TOP: -100px; BORDER-RIGHT: #fff 0px solid; LEFT: 0px; opacity: .09
}
.fc-state-default {
	BORDER-BOTTOM-STYLE: solid; BORDER-BOTTOM-COLOR: #aaa; BORDER-RIGHT-STYLE: solid; BORDER-TOP-COLOR: #ccc; BORDER-TOP-STYLE: solid; BACKGROUND: #f3f3f3; COLOR: #000; BORDER-RIGHT-COLOR: #bbb; BORDER-LEFT-STYLE: solid; BORDER-LEFT-COLOR: #bbb
}
.fc-state-default .fc-button-inner {
	BORDER-BOTTOM-STYLE: solid; BORDER-BOTTOM-COLOR: #aaa; BORDER-RIGHT-STYLE: solid; BORDER-TOP-COLOR: #fff; BORDER-TOP-STYLE: solid; BACKGROUND: #f3f3f3; COLOR: #000; BORDER-RIGHT-COLOR: #bbb; BORDER-LEFT-STYLE: solid; BORDER-LEFT-COLOR: #bbb
}
.fc-state-hover {
	BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BORDER-RIGHT-COLOR: #999; BORDER-LEFT-COLOR: #999
}
.fc-state-hover .fc-button-inner {
	BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BORDER-RIGHT-COLOR: #999; BORDER-LEFT-COLOR: #999
}
.fc-state-down {
	BORDER-BOTTOM-COLOR: #555; BORDER-TOP-COLOR: #555; BACKGROUND: #777; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
.fc-state-down .fc-button-inner {
	BORDER-BOTTOM-COLOR: #555; BORDER-TOP-COLOR: #555; BACKGROUND: #777; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
.fc-state-active {
	BORDER-BOTTOM-COLOR: #555; BORDER-TOP-COLOR: #555; BACKGROUND: #777; COLOR: #fff; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
.fc-state-active .fc-button-inner {
	BORDER-BOTTOM-COLOR: #555; BORDER-TOP-COLOR: #555; BACKGROUND: #777; COLOR: #fff; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
.fc-state-disabled {
	BORDER-TOP-COLOR: #ddd; DISPLAY: none; COLOR: #999; BORDER-RIGHT-COLOR: #ddd; BORDER-LEFT-COLOR: #ddd
}
.fc-state-disabled .fc-button-inner {
	BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; COLOR: #999; BORDER-RIGHT-COLOR: #ddd; BORDER-LEFT-COLOR: #ddd
}
.fc-state-disabled .fc-button-effect {
	DISPLAY: none
}
.fc-event {
	BORDER-BOTTOM: #fff 0px solid; BORDER-LEFT: 0px solid; DISPLAY: block; BORDER-TOP: #fff 0px solid; BORDER-RIGHT: 0px solid
}
A.fc-event {
	CURSOR: pointer
}
.fc-event-draggable {
	CURSOR: pointer
}
A.fc-event {
	TEXT-DECORATION: none
}
.fc-rtl .fc-event {
	TEXT-ALIGN: right
}
.fc-event-skin {
	DISPLAY: block; BACKGROUND: url(/images/fullCalEventBG.png) #d7f1ff no-repeat 50% bottom; HEIGHT: auto; COLOR: #000; PADDING-TOP: 0px
}
.fc-event-inner {
	BORDER-BOTTOM: #fff 1px solid; POSITION: relative; BORDER-LEFT: #fff 0px solid; WIDTH: 100%; HEIGHT: auto; BORDER-TOP: 0px solid; BORDER-RIGHT: #fff 0px solid
}
.fc-event-time {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 0px
}
.fc-event-title {
	BORDER-LEFT: #699 3px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 0px; DISPLAY: block; FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, sans-serif
}
.fc .ui-resizable-handle {
	Z-INDEX: 99999; POSITION: absolute; LINE-HEIGHT: 50%; DISPLAY: block; FONT-SIZE: 300%; OVERFLOW: hidden
}
.fc-event-hori {
	BORDER-RIGHT-WIDTH: 0px; MARGIN-BOTTOM: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
.fc-event-hori .ui-resizable-e {
	WIDTH: 7px !important; HEIGHT: 100% !important; TOP: 0px !important; CURSOR: e-resize; RIGHT: -3px !important
}
.fc-event-hori .ui-resizable-w {
	WIDTH: 7px !important; HEIGHT: 100% !important; TOP: 0px !important; CURSOR: w-resize; LEFT: -3px !important
}
.fc-event-hori .ui-resizable-handle {
	PADDING-BOTTOM: 14px
}
.fc-corner-left {
	MARGIN-LEFT: 1px
}
.fc-corner-left .fc-button-inner {
	MARGIN-LEFT: -1px
}
.fc-corner-left .fc-event-inner {
	MARGIN-LEFT: -1px
}
.fc-corner-right {
	MARGIN-RIGHT: 1px
}
.fc-corner-right .fc-button-inner {
	MARGIN-RIGHT: -1px
}
.fc-corner-right .fc-event-inner {
	MARGIN-RIGHT: -1px
}
.fc-corner-top {
	MARGIN-TOP: 1px
}
.fc-corner-top .fc-event-inner {
	MARGIN-TOP: -1px
}
.fc-corner-bottom {
	MARGIN-BOTTOM: 1px
}
.fc-corner-bottom .fc-event-inner {
	MARGIN-BOTTOM: -1px
}
.fc-corner-left .fc-event-inner {
	BORDER-LEFT-WIDTH: 1px
}
.fc-corner-right .fc-event-inner {
	BORDER-RIGHT-WIDTH: 1px
}
.fc-corner-top .fc-event-inner {
	BORDER-TOP-WIDTH: 1px
}
.fc-corner-bottom .fc-event-inner {
	BORDER-BOTTOM-WIDTH: 1px
}
TABLE.fc-border-separate {
	BORDER-COLLAPSE: separate
}
.fc-border-separate TH {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px
}
.fc-border-separate TD {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px
}
.fc-border-separate TH.fc-last {
	BORDER-RIGHT-WIDTH: 1px
}
.fc-border-separate TD.fc-last {
	BORDER-RIGHT-WIDTH: 1px
}
.fc-border-separate TR.fc-last TH {
	BORDER-BOTTOM-WIDTH: 1px
}
.fc-border-separate TR.fc-last TD {
	BORDER-BOTTOM-WIDTH: 1px
}
.fc-border-separate TBODY TR.fc-first TD {
	BORDER-TOP-WIDTH: 0px
}
.fc-border-separate TBODY TR.fc-first TH {
	BORDER-TOP-WIDTH: 0px
}
.fc-grid TH {
	TEXT-ALIGN: center
}
.fc-grid .fc-day-number {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: right; FONT-SIZE: 0.87em; PADDING-TOP: 0px
}
.fc-day-number {
	CURSOR: pointer
}
.fc-grid .fc-other-month .fc-day-number {
	FILTER: alpha(opacity=30); opacity: 0.3
}
.fc-grid .fc-day-content {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; CLEAR: both; PADDING-TOP: 2px
}
.fc-grid .fc-event-time {
	FONT-WEIGHT: bold
}
.fc-rtl .fc-grid .fc-day-number {
	FLOAT: left
}
.fc-rtl .fc-grid .fc-event-time {
	FLOAT: right
}
.fc-agenda TABLE {
	BORDER-COLLAPSE: separate
}
.fc-agenda-days TH {
	TEXT-ALIGN: center
}
.fc-agenda .fc-agenda-axis {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; WIDTH: 50px; PADDING-RIGHT: 4px; WHITE-SPACE: nowrap; VERTICAL-ALIGN: middle; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.fc-agenda .fc-day-content {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.fc-agenda-days .fc-agenda-axis {
	BORDER-RIGHT-WIDTH: 1px
}
.fc-agenda-days .fc-col0 {
	BORDER-LEFT-WIDTH: 0px
}
.fc-agenda-allday TH {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px
}
.fc-agenda-allday .fc-day-content {
	MIN-HEIGHT: 54px; HEIGHT: 100%
}
.fc-agenda-divider-inner {
	HEIGHT: 2px; OVERFLOW: hidden
}
.fc-widget-header .fc-agenda-divider-inner {
	BACKGROUND: #eee
}
.fc-agenda-slots TH {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px
}
.fc-agenda-slots TD {
	BORDER-RIGHT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.fc-agenda-slots TD DIV {
	HEIGHT: 20px
}
.fc-agenda-slots TR.fc-slot0 TH {
	BORDER-TOP-WIDTH: 0px
}
.fc-agenda-slots TR.fc-slot0 TD {
	BORDER-TOP-WIDTH: 0px
}
.fc-agenda-slots TR.fc-minor TH {
	BORDER-TOP-STYLE: dotted
}
.fc-agenda-slots TR.fc-minor TD {
	BORDER-TOP-STYLE: dotted
}
.fc-agenda-slots TR.fc-minor TH.ui-widget-header {
	BORDER-TOP-STYLE: solid
}
.fc-event-vert {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.fc-event-vert .fc-event-head {
	Z-INDEX: 2; POSITION: relative; WIDTH: 100%; OVERFLOW: hidden
}
.fc-event-vert .fc-event-content {
	Z-INDEX: 2; POSITION: relative; WIDTH: 100%; OVERFLOW: hidden
}
.fc-event-vert .fc-event-time {
	WHITE-SPACE: nowrap; FONT-SIZE: 1em
}
.fc-event-vert .fc-event-bg {
	Z-INDEX: 1; POSITION: absolute; FILTER: alpha(opacity=30); WIDTH: 100%; BACKGROUND: #fff; HEIGHT: 100%; TOP: 0px; LEFT: 0px; opacity: .3
}
.fc .ui-draggable-dragging .fc-event-bg {
	DISPLAY: none
}
.fc-select-helper .fc-event-bg {
	DISPLAY: none
}
.fc-event-vert .ui-resizable-s {
	TEXT-ALIGN: center; LINE-HEIGHT: 8px !important; WIDTH: 100% !important; BOTTOM: 0px !important; FONT-FAMILY: monospace; HEIGHT: 8px !important; FONT-SIZE: 11px !important; OVERFLOW: hidden !important; CURSOR: s-resize
}
.fc-agenda .ui-resizable-resizing {
	OVERFLOW: hidden
}
.fc-event-tooltip {
	Z-INDEX: 1000; POSITION: absolute; BOTTOM: 20px; HEIGHT: 1px
}
.fc-event-tooltip UL {
	Z-INDEX: 1000; BORDER-BOTTOM: white 1px solid; POSITION: absolute; BORDER-LEFT: white 1px solid; PADDING-BOTTOM: 10px; LIST-STYLE-TYPE: none; PADDING-LEFT: 10px; WIDTH: 200px; PADDING-RIGHT: 10px; DISPLAY: none; BACKGROUND: url(images/popup.png) #e7ecf2 no-repeat; COLOR: #444444; FONT-SIZE: 12px; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid; PADDING-TOP: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -webkit-box-shadow: 0px 8px 8px #333; -khtml-border-radius: 3px; -border-radius: 3px
}
.fc-event-tooltip LI {
	PADDING-BOTTOM: 5px
}
.fc-event-tooltip LI SPAN {
	TEXT-ALIGN: left; DISPLAY: block; COLOR: #555; FONT-SIZE: 12px
}
.fc-event-tooltip LI SPAN.title {
	COLOR: #222; FONT-WEIGHT: bold
}
.ical{width:49%;display:inline-block;float:left;}
.icalContainer {
	TEXT-ALIGN: center;  WIDTH: 310px; DISPLAY: block; FLOAT: left; HEIGHT: 300px; MARGIN-LEFT: 0px;width:99.3%;height:auto;display:inline-block;float:left;border:0px solid red
}
.icalContainer {
	FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, sans-serif;border:2px solid #036
}
.minViewCal,.minViewCal  A {
	 LINE-HEIGHT: 23px; TEXT-TRANSFORM: uppercase;DISPLAY: block; BACKGROUND: #069; COLOR: #fff;FONT-WEIGHT: bold; TEXT-DECORATION: none;float:left;width:100%; text-align:center
}
.minViewCal A:visited {
	COLOR: #fff
}
.minViewCal A:hover {
	BACKGROUND: #fff; COLOR: #000
}
.icaltable {
	BACKGROUND-COLOR: #eee; WIDTH: 100%; FONT-SIZE: 0.8em
}
.icaltable TD {
	TEXT-ALIGN: center; BACKGROUND: url(../images/ical-cells.png) #fff 0px 0px; HEIGHT: 36px; FONT-SIZE: 1.1em; VERTICAL-ALIGN: middle
}
.icaltable TH {
	POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #fff 1px solid; WIDTH: 25px; BACKGROUND: #fff; HEIGHT: 20px; COLOR: #000; VERTICAL-ALIGN: middle
}
.icaltable TD:hover {
	COLOR: #000
}
.icaltable A:hover TD {
	COLOR: #cf0
}
.icaltable TD.date_has_no_event {
	
}
.icaltable TD.date_has_event {
	BACKGROUND-COLOR: #69c; COLOR: #000; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
.icaltable TD.date_has_event:hover {
	BACKGROUND-COLOR: #9c0; BACKGROUND-POSITION: -81px 81px
}
.date_has_event A {
	LINE-HEIGHT: 35px; DISPLAY: block; BACKGROUND-POSITION: -81px 81px; HEIGHT: 100%; COLOR: #ffffff; TEXT-DECORATION: none
}
.date_has_event A:visited {
	COLOR: #ffffff
}
.icaltable TD.date_has_event A:hover {
	BACKGROUND: url(../images/ical-cells.png) #6c3 0px 0px
}
.icaltable TD.padding {
	BACKGROUND: url(../images/ical-cells.png) #fff 80px 0px
}
.icaltable TD.today {
	BACKGROUND: url(../images/ical-cells.png) #bbb 80px 0px; COLOR: #000
}
.icaltable TD.today A:visited {
	COLOR: #000
}
.icaltable TD.today A:hover {
	COLOR: #fff
}
#icalnext {
	POSITION: relative; COLOR: #ffffff; CURSOR: pointer; LEFT: 20px
}
#icalprev {
	POSITION: relative; COLOR: #ffffff; CURSOR: pointer; RIGHT: 20px
}
#currentmonth {
	FONT-WEIGHT: bold
}
#currentyear {
	FONT-WEIGHT: bold
}
#ical-topnav {
	BACKGROUND-COLOR: #069; WIDTH: 100%; DISPLAY: block
}
#ical-topnav A {
	LINE-HEIGHT: 24px; TEXT-TRANSFORM: uppercase; COLOR: #fff; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.events {
	Z-INDEX: 1000; POSITION: relative; BOTTOM: 45px
}
.eventList {
	POSITION: relative; LIST-STYLE-TYPE: none; PADDING-LEFT: 5px; FONT-FAMILY: Tahoma, Geneva, sans-serif;OVERFLOW: auto; PADDING-TOP: 10px; LEFT: 0px;
	display:inline-block;height:auto;text-align:left;
	float: right;
	width: 49.5%;
}
.events UL {
	POSITION: relative; LIST-STYLE-TYPE: none; WIDTH: 290px; PADDING-RIGHT: 10px; DISPLAY: none
}
.title A {
	COLOR: #039
}
.eventList A {
	COLOR: #069; FONT-SIZE: 1.1em; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.eventList A:visited {
	COLOR: #069; FONT-SIZE: 1.1em; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.eventList A:hover {
	COLOR: #999
}
.eventList LI {
	LINE-HEIGHT: 120%; DISPLAY: block; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 0px; FONT-SIZE: 0.87em
}
.eventList LI SPAN {
	DISPLAY: block; COLOR: #000
}
#fcMaxEvents {
	DISPLAY: none
}
#fcMaxMoreEvents {
	
}
#fcEvents {
	BACKGROUND-COLOR: fuchsia
}
.selEventDate {
	POSITION: relative; TEXT-ALIGN: left; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #006699; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #fff; TOP: -8px; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.contenturl {
	DISPLAY: none
}
.cYearlyIndex {
	POSITION: relative; TOP: -20px; LEFT: 700px
}
.meEventListing A {
	Z-INDEX: 1000; POSITION: relative
}
.meEventListing UL {
	Z-INDEX: 1000; BORDER-BOTTOM: white 1px solid; TEXT-ALIGN: left; BORDER-LEFT: white 1px solid; PADDING-BOTTOM: 10px; LIST-STYLE-TYPE: none; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: Tahoma, Geneva, sans-serif; FONT-SIZE: 0.87em; PADDING-TOP: 10px
}
.meEventListing LI {
	PADDING-BOTTOM: 5px; PADDING-TOP: 8px; display: inline-block;
}
.meEventListing LI SPAN {
	TEXT-ALIGN: justify; DISPLAY: block; COLOR: #000
}
.meEventListing LI SPAN.title A {
	COLOR: #069; FONT-SIZE: 1em; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.meEventListing LI SPAN.title A:hover {
	COLOR: #999999
}
.meEventListing LI SPAN.title A:visited {
	COLOR: #069
}
.meEventListing LI SPAN {
	TEXT-ALIGN: justify; DISPLAY: block; COLOR: #000
}
.meEventListing LI A {
	COLOR: #069; FONT-SIZE: 1em; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.meEventListing LI A:hover {
	COLOR: #999999
}
.meEventListing LI A:visited {
	COLOR: #069
}
.meEventListing IMG {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-TOP: 5px
}
#meDayListing {
	TOP: -30px
}
.meYearlyContainer {
	BACKGROUND: #fff
}
.meYearlyContainer A {
	TEXT-DECORATION: none
}
.meYearContent {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 3px; WIDTH: 100%; PADDING-RIGHT: 3px
}
.meMonthRow {
	BORDER-BOTTOM: #fff 2px solid; MARGIN-BOTTOM: 5px
}
.meImages {
	max-width: 30%;	
}
.mimonth,.mimonth:visited {
	 PADDING-BOTTOM: 6px;DISPLAY: block; color:#fff; PADDING-TOP: 6px;text-decoration:none
}
.mimonth a,.mimonth a:visited{color:#fff;text-decoration:none}
.mimonth a:hover{color:#000}
.meMonthHasContent{ BACKGROUND-COLOR: #069; color:#fff}
.meMonthHasContent:hover,.meMonthHasContent:hover a{
	COLOR: #000; background-color: #eee
}
.meMonthNoContent { background-color:#ddd;color:#000}
.meMonthCurrent,.meMonthHasContent,.meMonthNoContent {MIN-WIDTH: 100px; WIDTH: 12%;  
	TEXT-ALIGN: center;DISPLAY: inline-block; FONT-WEIGHT: bold;border:1px solid #FFF
}


.meMonthHasContent A.mimonth {MIN-WIDTH: 100px; WIDTH: 12%;  

}

.miyear {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #fff; MARGIN-TOP: 20px; PADDING-LEFT: 3px; WIDTH: 100px; PADDING-RIGHT: 3px; DISPLAY: block; COLOR: #036; FONT-SIZE: 1.2em; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.topofpage {
	
}
.cTitle {
	COLOR: #036; FONT-SIZE: 1.2em; FONT-WEIGHT: bold
}
.meDate {
	COLOR: #036
}
.popupeventtitle {
	PADDING-BOTTOM: 3px; COLOR: #006699; FONT-SIZE: 1.2em; FONT-WEIGHT: bold; -moz-text-blink: none; -moz-text-decoration-color: -moz-use-text-color; -moz-text-decoration-line: none; -moz-text-decoration-style: solid
}
.popupeventdate {
	FONT-SIZE: 1.1em; FONT-WEIGHT: bold
}
#calLinks {
	MARGIN: 5px 0px
}
#calLinks A IMG {
	VERTICAL-ALIGN: middle
}
#calLinks A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
