pre, textarea {
	overflow: auto
}
.image-replace, .single-line {
	display: block;
	white-space: nowrap
}
#comp_87783 a.shortdesclinks, #comp_87781 a.shortdesclinks, #comp_87784 a.shortdesclinks, #comp_87782 a.shortdesclinks, .break-all {
	word-break: break-all
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf)format('truetype')
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf)format('truetype')
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf)format('truetype')
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBp0EAVxt0G0biEntp43Qt6E.ttf)format('truetype')
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxp_TkvowlIOtbR7ePgFOpF4.ttf)format('truetype')
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/FUDHvzEKSJww3kCxuiAo2A.ttf)format('truetype')
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNC3USBnSvpkopQaUR-2r7iU.ttf)format('truetype')
}
@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 400;
	src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://fonts.gstatic.com/s/ptsans/v8/PIPMHY90P7jtyjpXuZ2cLKCWcynf_cDxXwCLxiixG1c.ttf)format('truetype')
}
@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 700;
	src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(http://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkInF5uFdDttMLvmWuJdhhgs.ttf)format('truetype')
}
@font-face {
	font-family: Glegoo;
	font-style: normal;
	font-weight: 400;
	src: local('Glegoo'), local('Glegoo-Regular'), url(http://fonts.gstatic.com/s/glegoo/v5/rRnY1PEvm8fHngJkZm5BIA.ttf)format('truetype')
}
@font-face {
	font-family: Glegoo;
	font-style: normal;
	font-weight: 700;
	src: local('Glegoo Bold'), local('Glegoo-Bold'), url(http://fonts.gstatic.com/s/glegoo/v5/yG77c-qahUY-abN0x5R7EaCWcynf_cDxXwCLxiixG1c.ttf)format('truetype')
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
	display: none
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
	background-color: #fff;
	-webkit-overflow-scrolling: touch
}
#comp_87772 .contentBlock, .os300, .os400 {
	font-family: 'Open Sans', Helvetica, sans-serif
}
body {
	margin: 0;
	line-height: 1.6;
	padding: 0;
	font-size: 16px;
	font-size: 1.6rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}
.os300 {
	font-weight: 300
}
#comp_87772 .contentBlock, .os400 {
	font-weight: 400
}
#block-1_87681 #comp_87885 a.moreLink, #block-1_87681 #comp_87712 a.moreLink, #comp_87721 span.moreLink a, #comp_87720 span.moreLink a, #comp_87718 span.moreLink a, #comp_87772 time, #comp_87777.cTitle, #comp_87777ul.splitCol, #superTop, .os700 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 700
}
.pt400, body {
	font-family: 'PT Sans', Helvetica, sans-serif;
	font-weight: 400
}
#comp_87776 .splitCol a.bodylinks, #footerArea #expandedFooter .footer_4 h3, .pt700 {
	font-family: 'PT Sans', Helvetica, sans-serif;
	font-weight: 700
}
#block-1_87681 #comp_87885 .bodylinks, #block-1_87681 #comp_87712 .bodylinks, #comp_87721 .cTitle, #comp_87720 .cTitle, #comp_87718 .cTitle, #comp_87775 #Table_01 div:last-of-type, .g400 {
	font-family: Glegoo, Times New Roman, serif;
	font-weight: 400
}
#comp_87771 .cTitle, .g700 {
	font-family: Glegoo, Times New Roman, serif;
	font-weight: 700
}
.i300, .i400, .i700, h1, h2, h3, h4, h5, h6 {
	font-family: Interstate, Helvetica, sans-serif
}
.i300 {
	font-weight: 300
}
.i400, h1, h2, h3, h4, h5, h6 {
	font-weight: 400
}
.i700 {
	font-weight: 700
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
#comp_87781 a.bodylinks, b, optgroup, strong {
	font-weight: 700
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
input {
	line-height: normal
}
input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
height:auto
}
input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}
legend {
	border: 0;
	padding: 0
}
input[type=text], input[type=tel], textarea {
	border: none;
	padding: 10px 5px;
	width: inherit;
	color: #072C3D
}
.file-upload, .file-upload label, .form-entry-full .entry-input, .form-entry-full .entry-label {
	width: 100%
}
.form-entry, .form-entry-full, .form-submit {
	margin: 20px 0;
	width: 100%
}
.form-entry-full {
	float: left
}
.form-entry-full .entry-input, .form-entry-full .entry-label {
	display: block;
	text-align: left
}

@media (min-width:620px) {
.form-entry, .form-entry-full, .form-submit {
	margin: 10px 0
}
.form-entry-full .entry-input, .form-entry-full .entry-label {
	display: inline-block;
	float: left
}
.form-entry-full .entry-label {
	max-width: 30%;
	padding-right: 10px
}
.form-entry-full .entry-input {
	max-width: 70%
}
}
.form-submit {
	margin-top: 30px;
	text-align: center
}

@media (min-width:620px) {
.form-submit {
	text-align: left
}
}
.file-upload {
	position: relative;
	height: 80px;
	clear: both;
	text-align: center;
	min-height: 42px
}

@media (min-width:620px) {
.file-upload {
	max-height: 42px;
	text-align: left
}
}
.file-upload label {
	display: block;
	text-align: center
}
.file-upload input[type=file] {
	position: absolute;
	margin: 0;
	padding: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}
#block-2_87681>.panel-body, #container {
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#14304D', endColorstr='#1E4771', GradientType=0 )
}
.file-upload:after {
	content: "Upload";
	position: relative;
	z-index: -1
}

@media (min-width:620px) {
.file-upload label {
	float: left;
	clear: both;
	width: calc(100% - 225px);
	display: inline-block;
	text-align: left
}
.file-upload input[type=file] {
	right: 0
}
.file-upload:after {
	position: absolute;
	right: 0
}
}
.file-upload[data-button-text]:after {
	content: attr(data-button-text)
}
.contact-wrapper {
	border: 3px solid #fff;
	padding: 20px;
	margin: 0 auto;
	width: calc(100% - 60px)
}
.contact-wrapper:after {
	clear: both;
	content: '';
	display: table
}
.tab-wrapper {
	position: relative;
	vertical-align: top;
	padding: 0 30px
}

@media (min-width:720px) {
.contact-wrapper {
	width: 100%;
	float: left
}
.tab-wrapper {
	padding: 0
}
}
.contact, .form-description {
	width: 100%;
	padding: 0
}

@media (min-width:960px) {
.contact, .form-description {
	width: 50%;
	float: left;
	padding: 0 30px
}
}
.contact-form {
	display: none
}
.contact-form.show, main {
	display: block
}
.form-description {
	font-size: 18px;
	font-size: 1.8rem
}
.toggle-form-button {
	font-size: 24px;
	font-size: 2.4rem;
	background-color: #072C3D;
	color: #fff
}

@media (min-width:620px) {
.toggle-form-button {
	font-size: 36px;
	font-size: 3.6rem
}
}
.grid-container {
	width: 100%;
	margin-left: -30px;
	margin-right: -30px
}
.fifth, .fourth, .full, .half, .third, .three-fifth, .two-fifth, .two-third {
	padding: 0 30px;
	float: left
}
.third {
	width: 33.33333%
}
.fourth {
	width: 25%
}
.half {
	width: 100%
}

@media (min-width:960px) {
.half {
	width: 50%
}
}
.two-third {
	width: 66.66667%
}
.three-fourth {
	width: 75%
}
.fifth {
	width: 20%
}
.two-fifth {
	width: 40%
}
.three-fifth {
	width: 60%
}
.col-lg-12, .col-md-12, .col-sm-12, .col-xs-12, .full {
	width: 100%
}
figure {
	margin: 1em 40px
}
hr {
	box-sizing: content-box;
	height: 0
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: 60px 0
}
.h1, h1 {
	font-size: 94px;
	font-size: 9.4rem
}
.h2, h2 {
	font-size: 54px;
	font-size: 5.4rem
}
.h3, h3 {
	font-size: 36px;
	font-size: 3.6rem
}
.h4, h4 {
	font-size: 18px;
	font-size: 1.8rem
}
.h5, h5 {
	font-size: 16px;
	font-size: 1.6rem
}
.h6, h6 {
	font-size: 14px;
	font-size: 1.4rem;
	text-transform: uppercase
}
#bodyWrapper:after, #contentWrapper:after, main:after {
	clear: both;
	content: '';
	display: table
}
ul.inner>li {
	list-style: none
}
#container {
	max-width: none;
	padding: 20px 0 0;
	margin: 0;
	background: #14304D;
	background: -webkit-gradient(linear, left top, left bottom, from(#14304D), to(#1E4771));
	background: -moz-gradient(center top, #14304D 1%, #1E4771 3%);
	background: -webkit-linear-gradient(top, #14304D 1%, #1E4771 3%);
	background: linear-gradient(to bottom, #14304D 1%, #1E4771 3%)
}
#bodyWrapper {
	font-size: 0
}
#bodyWrapper #contentWrapper, #bodyWrapper #footerArea, #bodyWrapper #menu {
	font-size: 16px;
	font-size: 1.6rem
}
#contentWrapper {
	padding-top: 0
}

@media (max-width:960px) {
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	width: 100%
}
.row-eq-height {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
}
.panel-group {
	margin-bottom: 0
}
.panel-group .panel {
	border-radius: 0;
	border: none;
	overflow: visible;
	box-shadow: none
}
div.comp {
	padding: 0;
	background-color: inherit
}

@media (min-width:0px) {
div.comp {
	display: block
}
}
li.contentItem {
	margin: 0;
	padding: 0;
	left: 0
}
a {
	background: 0 0
}
a:active, a:hover {
	outline: 0
}
#block-1_87681 #comp_87885 a.moreLink, #block-1_87681 #comp_87712 a.moreLink, #comp_87721 span.moreLink a, #comp_87720 span.moreLink a, #comp_87718 span.moreLink a {
	text-transform: uppercase;
	text-decoration: none;
	color: #59E4EC;
	position: relative;
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out
}
#block-1_87681 #comp_87885 a.moreLink:after, #block-1_87681 #comp_87712 a.moreLink:after, #comp_87721 span.moreLink a:after, #comp_87720 span.moreLink a:after, #comp_87718 span.moreLink a:after {
	content: "";
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle
}
#block-1_87681 #comp_87885 a.moreLink:focus, #block-1_87681 #comp_87885 a.moreLink:hover, #block-1_87681 #comp_87712 a.moreLink:focus, #block-1_87681 #comp_87712 a.moreLink:hover, #comp_87721 span.moreLink a:focus, #comp_87721 span.moreLink a:hover, #comp_87720 span.moreLink a:focus, #comp_87720 span.moreLink a:hover, #comp_87718 span.moreLink a:focus, #comp_87718 span.moreLink a:hover {
	color: #fff
}
#comp_87774 ul.contentList, .link-block, .plain-list {
	margin: 0;
	padding: 0
}
#comp_87774 ul.contentList li, .link-block li, .plain-list li {
	list-style: none
}
.link-block a {
	display: block;
	text-decoration: none
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
#block-1_87681 #comp_87885 a.moreLink:after, #block-1_87681 #comp_87712 a.moreLink:after, #comp_87721 span.moreLink a:after, #comp_87721 ul.contentList li.contentItem a:after, #comp_87720 span.moreLink a:after, #comp_87720 ul.contentList li.contentItem:nth-of-type(1) .contentBlock:before, #comp_87720 ul.contentList li.contentItem:nth-of-type(2) .contentBlock:before, #comp_87720 ul.contentList li.contentItem:nth-of-type(3) .contentBlock:before, #comp_87718 span.moreLink a:after, #comp_87717 .nav-pills>li:nth-of-type(1) .dropdown-toggle:after, #comp_87717 .nav-pills>li:nth-of-type(2) .dropdown-toggle:after, #comp_87717 .nav-pills>li:nth-of-type(3) .dropdown-toggle:after, .svg-apple-icon, .svg-arrow-white, .svg-briefcase-icon, .svg-caret-white, .svg-carrot-icon, .svg-citizens-icon, .svg-facebook-button, .svg-fb, .svg-fb-icon, .svg-fingerprint-icon, .svg-gear, .svg-google-plus, .svg-government-building-icon, .svg-graduation-icon, .svg-heart-icon, .svg-home-icon, .svg-life-records-icon, .svg-linkedin, .svg-michigan-icon, .svg-resume-icon, .svg-search-icon, .svg-twitter, .svg-twitter-button, .svg-twitter-icon, .svg-youtube-button {
	background-repeat: no-repeat;
	background-image: url(/images/sprites/sprite.png)}
#comp_87720 ul.contentList li.contentItem:nth-of-type(1) .contentBlock:before, .svg-apple-icon {
	background-position: 50.98039% 59.94946%;
	width: 40px;
	height: 46.7px
}
#block-1_87681 #comp_87885 a.moreLink:after, #block-1_87681 #comp_87712 a.moreLink:after, #comp_87721 span.moreLink a:after, #comp_87720 span.moreLink a:after, #comp_87718 span.moreLink a:after, .svg-arrow-white {
	background-position: 78.97196% 81.21144%;
	width: 30px;
	height: 26.7px
}
#comp_87717 .nav-pills>li:nth-of-type(2) .dropdown-toggle:after, .svg-briefcase-icon {
	background-position: 27.72277% 34.8906%;
	width: 42px;
	height: 35.9px
}
#comp_87721 ul.contentList li.contentItem a:after, .svg-caret-white {
	background-position: 79.22535% 54.85549%;
	width: 16.8px;
	height: 32px
}
#comp_87776 .col_1 li:nth-of-type(2):after, .svg-carrot-icon {
	background-position: 77.42105% 0;
	width: 54px;
	height: 53.9px
}
#comp_87717 .nav-pills>li:nth-of-type(1) .dropdown-toggle:after, .svg-citizens-icon {
	background-position: 0 34.8906%;
	width: 56px;
	height: 35.9px
}
.svg-facebook-button {
	background-position: 0 85.17647%;
	width: 35px;
	height: 35px
}
.svg-fb {
	background-position: 87.43478% 0;
	width: 14px;
	height: 29.9px
}
.svg-fb-icon {
	background-position: 49.5283% 83.69942%;
	width: 32px;
	height: 32px
}
#comp_87776 .col_3 li:nth-of-type(1):after, .svg-fingerprint-icon {
	background-position: 23.43284% 0;
	width: 43px;
	height: 57.6px
}
.svg-gear {
	background-position: 97.77273% 40.1105%;
	width: 24px;
	height: 24px
}
.svg-google-plus {
	background-position: 0 99.88889%;
	width: 29px;
	height: 25px
}
#comp_87720 ul.contentList li.contentItem:nth-of-type(3) .contentBlock:before, .svg-government-building-icon {
	background-position: 47.22892% 34.70588%;
	width: 36.5px;
	height: 35px
}
#comp_87720 ul.contentList li.contentItem:nth-of-type(2) .contentBlock:before, .svg-graduation-icon {
	background-position: 75.05102% 31.03051%;
	width: 48px;
	height: 31.3px
}
#comp_87776 .col_2 li:nth-of-type(1):after, .svg-heart-icon {
	background-position: 0 61.18633%;
	width: 52px;
	height: 49.9px
}
#comp_87776 .col_1 li:nth-of-type(1):after, .svg-home-icon {
	background-position: 27.08333% 60.06329%;
	width: 52px;
	height: 47px
}
#comp_87776 .col_2 li:nth-of-type(2):after, .svg-life-records-icon {
	background-position: 0 0;
	width: 47.1px;
	height: 59px
}
.svg-linkedin {
	background-position: 97.77273% 27.25275%;
	width: 24px;
	height: 23px
}
#comp_87776 .col_3 li:nth-of-type(2):after, .svg-michigan-icon {
	background-position: 48.18182% 0;
	width: 57px;
	height: 57px
}
#comp_87717 .nav-pills>li:nth-of-type(3) .dropdown-toggle:after, .svg-resume-icon {
	background-position: 69.23077% 56.42093%;
	width: 36px;
	height: 36.8px
}
.svg-search-icon {
	background-position: 99.81439% 0;
	width: 28.5px;
	height: 28.6px
}
.svg-twitter {
	background-position: 98.66972% 15.54348%;
	width: 26px;
	height: 21px
}
.svg-twitter-button {
	background-position: 33.49282% 85.17647%;
	width: 35px;
	height: 35px
}
.svg-twitter-icon {
	background-position: 64.62264% 83.69942%;
	width: 32px;
	height: 32px
}
.svg-youtube-button {
	background-position: 16.74641% 85.17647%;
	width: 35px;
	height: 35px
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, th {
	padding: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
dfn {
	font-style: italic
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
.float-right {
	float: right
}
.float-left {
	float: left
}
img.float-right {
	margin: 0 0 60px 60px
}
img.float-left {
	margin: 0 60px 60px 0
}
.align-right {
	text-align: right
}
.align-left {
	text-align: left
}
.align-center {
	text-align: center
}
img.max-width {
	width: 100%;
	height: auto
}
#block-1_87681>.panel-heading, #block-2_87681>.panel-heading, .no-label label, .siteBannerTxt, .visually-hidden {
	position: absolute!important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px)
}
.float-clear:after, .grid-container:after, .link-block:after {
	clear: both;
	content: '';
	display: table
}
.image-replace {
	text-indent: 200%;
	overflow: hidden
}
*, .box-sizing, :after, :before {
	box-sizing: border-box
}
.single-line {
	overflow: hidden;
	text-overflow: ellipsis
}
.no-margin {
	margin: 0
}
.margin-half {
	margin: 30px 0
}
.image-only-link {
	text-decoration: none;
	text-indent: -10000px
}
#comp_87717 .nav-pills>li .dropdown-toggle, #comp_87772 span.moreLink a, .plain-link {
	text-decoration: none;
	color: inherit
}
.text-align-left {
	text-align: left
}
#mainnav li a, #usasearchform input#go, .transition-bg-color {
	-webkit-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out
}
.main-navigation #nav>li, .main-navigation #nav>li a.lvl1, .main-navigation #nav>li>ul>li, .main-navigation #nav>li>ul>li a.lvl2, .main-navigation #nav>li>ul>li>ul>li, .main-navigation #nav>li>ul>li>ul>li a.lvl3, .transition-bg {
	-webkit-transition: background .3s ease-out;
	transition: background .3s ease-out
}
#comp_87717 .nav-pills>li, .transition-bg-position {
	-webkit-transition: background-position .3s ease-out;
	transition: background-position .3s ease-out
}
#bannerLinks .migovlink a, #block-1_87681 #comp_87885 .bodylinks, #block-1_87681 #comp_87712 .bodylinks, #comp_87721 a, #comp_87720 a, #comp_87720 ul.contentList li.contentItem a.bodylinks, #comp_87718 a, #comp_87717 .nav-pills>li ul.dropdown-menu li a, #comp_87770 .shortdesc a, #comp_87771 ul.contentList li.contentItem a, #comp_87776 .splitCol a.bodylinks, #comp_87772 .contentBlock a.bodylinks, #comp_87772 span.moreLink a, #comp_87775 span.shortdesc>div:last-of-type a, #comp_87774 ul.contentList li.contentItem a, #comp_87774 ul.contentList li.contentItem a.bodylinks, #comp_87777a, #comp_87783 a.bodylinks, #comp_87781 a.bodylinks, #comp_87784 a.bodylinks, #comp_87782 a.bodylinks, #footerArea a, #menubannerLinks .migovlink a, #superTop a, .transition-color {
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out
}
.main-navigation #nav ul, .main-navigation #nav>li:hover>ul, .main-navigation #nav>li>ul>li:hover>ul, .transition-opacity {
	-webkit-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out
}
#comp_87770 .shortdesc, #comp_87772 span.moreLink, #comp_87775 span.shortdesc>div:last-of-type, #comp_87774 ul.contentList li.contentItem, .transition-border-color {
	-webkit-transition: border-color .2s ease-out;
	transition: border-color .2s ease-out
}
#comp_87717 .nav-pills>li ul.dropdown-menu, .transition-menu-slide-in {
	-webkit-transition: opacity .2s ease-out, top 1s ease-out, z-index .3s ease-out;
	transition: opacity .2s ease-out, top 1s ease-out, z-index .3s ease-out
}
#comp_87717 .nav-pills>li .dropdown-toggle.active+ul.dropdown-menu, .transition-menu-slide-out {
	-webkit-transition: opacity .5s ease-out, top .3s ease-out, z-index .3s ease-out;
	transition: opacity .5s ease-out, top .3s ease-out, z-index .3s ease-out
}
#comp_87770 .shortdesc, #comp_87772 span.moreLink, #comp_87775 span.shortdesc>div:last-of-type, #comp_87774 ul.contentList li.contentItem {
	text-transform: uppercase;
	display: block;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center
}
#comp_87770 .shortdesc:after, #comp_87772 span.moreLink:after, #comp_87775 span.shortdesc>div:last-of-type:after, #comp_87774 ul.contentList li.contentItem:after {
	clear: both;
	content: '';
	display: table
}
#comp_87770 .shortdesc a, #comp_87772 span.moreLink a, #comp_87775 span.shortdesc>div:last-of-type a, #comp_87774 ul.contentList li.contentItem a {
	display: block;
	width: 100%;
	height: 100%
}
#comp_87772 span.moreLink {
	border: 1px solid #255477;
	color: #255477
}
#comp_87772 span.moreLink:focus, #comp_87772 span.moreLink:hover {
	border-color: #049DEF
}
#comp_87770 .shortdesc:focus, #comp_87770 .shortdesc:hover, #comp_87775 span.shortdesc>div:focus:last-of-type, #comp_87775 span.shortdesc>div:hover:last-of-type, #comp_87774 ul.contentList li.contentItem:focus, #comp_87774 ul.contentList li.contentItem:hover {
	border-color: #59E4EC
}
#comp_87772 span.moreLink:focus a, #comp_87772 span.moreLink:hover a {
	color: #049DEF;
	text-decoration: none
}
#comp_87775 span.shortdesc>div:last-of-type {
	border: 1px solid #fff;
	color: #fff;
	background: 0 0
}
#comp_87775 span.shortdesc>div:focus:last-of-type a, #comp_87775 span.shortdesc>div:hover:last-of-type a {
	color: #59E4EC;
	text-decoration: none
}
#comp_87770 .shortdesc, #comp_87774 ul.contentList li.contentItem {
	border: 1px solid #fff;
	color: #fff;
	background: rgba(0,0,0,.65)
}
#comp_87770 .shortdesc:focus a, #comp_87770 .shortdesc:hover a, #comp_87774 ul.contentList li.contentItem:focus a, #comp_87774 ul.contentList li.contentItem:hover a {
	color: #59E4EC;
	text-decoration: none
}
#footerArea {
	background: #193653
}
#footerArea a:focus, #footerArea a:hover {
	color: #59E4EC;
	text-decoration: none
}
#footerArea #expandedFooter {
	padding: 40px 20px;
	margin: 0 auto;
	max-width: 1170px;
	padding-bottom: 20px!important
}
#footerArea #expandedFooter .footer_4 {
	margin: 0;
	width: 100%;
	display: block
}

@media (min-width:720px) {
#footerArea #expandedFooter {
	padding-left: 40px;
	padding-right: 40px
}
#footerArea #expandedFooter .footer_4 {
	float: left;
	width: 25%;
	display: inline-block;
	padding: 0 20px
}
}
#footerArea #expandedFooter .footer_4 h3 {
	color: #59E4EC;
	text-transform: uppercase;
	margin-bottom: 20px;
	display: inline-block;
	border-bottom: 1px dashed #fff;
	font-size: 16px;
	font-size: 1.6rem
}
#footerArea #agencylinks, #footerArea #policylinks {
	display: none;
	width: 100%;
	float: none;
	clear: both;
	text-align: center;
	padding: 0
}
#footerArea #agencylinks {
	border-top: 1px dashed #fff
}
#footerArea .copyright {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0 0 40px;
	clear: both
}
#footerArea .copyright:after {
	clear: both;
	content: '';
	display: table
}
#bannerLinks .migovlink a:focus, #bannerLinks .migovlink a:hover, #menubannerLinks .migovlink a:focus, #menubannerLinks .migovlink a:hover, #superTop a:focus, #superTop a:hover {
	color: #59E4EC;
	background: 0 0
}
#superTop {
	height: 82px;
	line-height: 82px;
	text-transform: uppercase;
	background: 0 0;
	display: block;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1170px;
	font-size: 12px;
	font-size: 1.2rem
}

@media (min-width:720px) {
#superTop {
	padding-left: 40px;
	padding-right: 40px
}
}
ul#bannerLinks {
	display: none;
	padding: 0;
	height: inherit;
	line-height: 1
}
ul#bannerLinks li a, ul#bannerLinks li.migovlink a {
	padding: 10px
}
.mean-container .mean-nav {
	margin-left: -20px
}

@media (min-width:720px) {
.mean-container .mean-nav {
	margin-left: -40px
}
}
.mean-container .mean-bar {
	width: 100%;
	background: 0 0
}
#mainnav li a {
	background-color: #072C3D;
	color: #fff;
	padding: 0 0 0 20px
}
#mainnav li a:focus, #mainnav li a:hover {
	background-color: #255477
}
#bannerArea {
	margin: 0 auto;
	padding-left: 20px;
	max-width: 1170px;
	padding-right: 20px!important
}

@media (min-width:721px)and (max-width:973px) {
#bannerArea {
	float: left;
	padding-bottom: 20px
}
}
#siteBanner {
	margin: 0 auto;
	width: 250px
}

@media (min-width:973px) {
ul#bannerLinks li {
	border-left: 1px solid #28807c
}
ul#bannerLinks li:first-of-type {
	border: none
}
ul#bannerLinks li:last-of-type {
	border-right: 1px solid #28807c
}
ul#bannerLinks {
	display: inline-block
}
#siteBanner {
	position: absolute;
	top: 18px;
	margin-right: -40px;
}
}

@media (min-width:720px) {
#bannerArea {
	padding-left: 40px;
	padding-right: 40px
}
#siteBanner {
	width: 320px
}
}
#siteBanner img {
	/* width: 100%; */
	/* height: auto
 */}
#topNavSearch {
	top: 0!important;
	display: block;
	background: 0 0;
	padding: 20px 40px 40px 20px;
	width: 100%;
	text-align: center
}

@media (min-width:721px)and (max-width:973px) {
#topNavSearch {
	padding: 40px 40px 40px 20px
}
}
#usasearchform {
	width: 275px;
	margin: 0 auto
}
#usasearchform:after {
	clear: both;
	content: '';
	display: table
}

@media (min-width:720px) {
#topNavSearch {
	text-align: right;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1170px
}
@media (min-width:720px) {
#topNavSearch {
padding-left:40px;
padding-right:40px
}
}
#usasearchform {
	float: right
}
}
#usasearchform input#go, #usasearchform input#query {
	float: left;
	display: inline-block;
	margin: 0;
	height: 40px
}
#usasearchform input#query {
	width: 225px
}
#usasearchform input#go {
	width: 50px;
	text-transform: uppercase;
	color: #fff;
	background-color: #28807c;
	border: none
}
#usasearchform input#go:focus, #usasearchform input#go:hover {
	background-color: #1c5956
}
.utilityItems {
	display: none
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .nav>li>a:focus, .nav>li>a:hover {
	background: 0 0
}
.dropdown-menu>li>a {
	color: inherit;
	padding: 0;
	line-height: 1.6;
	white-space: pre-line
}
#nav li:hover li a:hover, .main-navigation #nav ul li:hover a:hover {
	background-color: none!important
}
#menu, .main-navigation #nav {
	background: #28807c
}
#menu {
	margin-top: 20px;
	height: 60px
}
#flyout {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1170px;
	height: 60px
}

@media (min-width:720px) {
#flyout {
	padding-left: 40px;
	padding-right: 40px
}
}
.main-navigation #nav ul {
	box-shadow: none;
	overflow: hidden;
	opacity: 0;
	z-index: -1
}
.main-navigation #nav li {
	height: 100%
}
.main-navigation #nav>li {
	width: 12.5%;
	height: 60px;
	line-height: 60px;
	padding: 0;
	border-left: 1px solid #072C3D;
	background: #28807c
}
.main-navigation #nav>li:focus, .main-navigation #nav>li:hover {
	background: #1c5956
}
.main-navigation #nav>li>ul, .main-navigation #nav>li>ul>li, .main-navigation #nav>li>ul>li>ul>li {
	background: #F3F3F3
}
.main-navigation #nav>li:focus a.lvl1, .main-navigation #nav>li:hover a.lvl1 {
	color: #fff
}
.main-navigation #nav>li:last-of-type {
	border-right: 1px solid #072C3D
}
.main-navigation #nav>li:nth-of-type(6)>ul, .main-navigation #nav>li:nth-of-type(7)>ul, .main-navigation #nav>li:nth-of-type(8)>ul {
	top: 0!important;
	position: relative;
	float: right;
	left: 0!important
}
.main-navigation #nav>li:nth-of-type(6) ul ul, .main-navigation #nav>li:nth-of-type(7) ul ul, .main-navigation #nav>li:nth-of-type(8) ul ul {
	left: -100%!important;
	top: 0!important
}
.main-navigation #nav>li>ul>li>ul {
	opacity: 0;
	z-index: -1;
	overflow: hidden;
	display: inline-block
}
.main-navigation #nav>li:hover>ul, .main-navigation #nav>li>ul>li:hover>ul {
	opacity: 1;
	z-index: 10;
	overflow: visible
}
.main-navigation #nav>li>ul>li>ul>li a.lvl3 {
	background: 0 0!important
}
.main-navigation #nav>li>ul>li:hover, .main-navigation #nav>li>ul>li>ul>li:hover {
	background: #777!important
}
.main-navigation #nav>li>ul>li a.lvl2 {
	background: 0 0!important;
	padding: 0;
	height: inherit;
	display: inline-block
}
.main-navigation #nav>li:hover>ul {
	min-width: 200px
}
.main-navigation #nav>li a {
	vertical-align: top;
	padding: 0 10px;
	height: inherit;
	white-space: pre
}
.main-navigation #nav>li a.lvl1 {
	background: 0 0;
	padding: 0;
	height: inherit;
	display: inline-block
}
.main-navigation #nav>li ul ul {
	left: 100%!important
}
.main-navigation #nav>li ul ul li {
	height: 60px
}
#menu-left-link, #rightNav {
	position: absolute!important;
	height: 1px;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px)
}
#menu-left-link {
	width: 1px;
	padding: 0!important
}
#rightNav {
	padding: 0;
	width: 1px!important
}
.panel-heading {
	margin: 20px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 42px;
	font-size: 4.2rem
}

@media (min-width:720px) {
.panel-heading {
	margin: 60px 0;
	font-size: 54px;
	font-size: 5.4rem
}
}
#block-4_87681>.panel-heading, #block-6_87681>.panel-heading, #block-7_87681>.panel-heading, #block-8_87681>.panel-heading {
	text-transform: uppercase;
	text-align: center;
	display: block;
	position: relative;
	width: 100%
}
#block-4_87681>.panel-heading:before, #block-6_87681>.panel-heading:before, #block-7_87681>.panel-heading:before, #block-8_87681>.panel-heading:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 10px;
	left: 0;
	top: 50%;
	background: #F3F3F3
}
#block-4_87681>.panel-heading .panel-heading-inner, #block-6_87681>.panel-heading .panel-heading-inner, #block-7_87681>.panel-heading .panel-heading-inner, #block-8_87681>.panel-heading .panel-heading-inner {
	position: relative;
	background: #fff;
	padding: 5px 20px
}
.heading-plain {
	width: 100%;
	text-align: center;
	font-size: 44px;
	font-size: 4.4rem;
	margin: 0
}
.heading-plain a {
	text-transform: uppercase;
	text-decoration: none;
	color: #072C3D
}
#block-8_87681>.panel-body {
	padding: 15px 0 0
}
#block-8_87681>.panel-body>.row-eq-height:first-child {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1170px
}

@media (min-width:720px) {
#block-8_87681>.panel-body>.row-eq-height:first-child {
	padding-left: 40px;
	padding-right: 40px
}
}

@media (min-width:1170px) {
#block-8_87681>.panel-body>.row-eq-height:nth-of-type(2) {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1170px
}
@media (min-width:720px) {
#block-8_87681>.panel-body>.row-eq-height:nth-of-type(2) {
padding-left:40px;
padding-right:40px
}
}
}
#comp_87781 {
	-ms-flex: 1;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1170px
}
#comp_87781 .componentHeaderImg {
	width: 100%;
	display: block;
	max-width: 200px;
	margin: 0 auto;
	float: none!important
}

@media (min-width:720px) {
#comp_87781 {
	padding-left: 40px;
	padding-right: 40px
}
#comp_87781 .componentHeaderImg {
	width: 30%;
	max-width: none;
	height: auto;
	float: right;
	display: inline-block
}
}
#comp_87781 ul.contentList {
	list-style: none;
	width: 100%;
	display: block;
	margin: 20px 0;
	text-align: left
}

@media (min-width:720px) {
#comp_87781 ul.contentList {
	width: 70%;
	float: left;
	display: inline-block;
	padding-right: 20px;
	margin: 0
}
}
#block-5_87681>.panel-heading, #comp_87775 a.bodylinks {
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
	position: absolute!important;
	height: 1px;
	width: 1px
}
#comp_87781 ul.contentList li.contentItem {
	list-style-type: none;
	left: 0;
	padding: 20px 0
}
#comp_87781 .thumbnail {
	max-width: 125px;
	padding: 0 10px 10px 0
}
#comp_87781 a.bodylinks {
	color: #28807c;
	line-height: 1;
	display: block;
	font-size: 20px;
	font-size: 2rem
}
#comp_87781 a.bodylinks:focus, #comp_87781 a.bodylinks:hover {
	color: #1c5956;
	text-decoration: none
}
#comp_87783, #comp_87784, #comp_87782 {
	background-color: #F3F3F3;
	padding: 40px 20px
}

@media (min-width:720px) {
#comp_87783, #comp_87784, #comp_87782 {
	padding: 40px
}
}
#comp_87783 .thumbnail, #comp_87784 .thumbnail, #comp_87782 .thumbnail {
	max-width: 85px;
	padding: 0 10px 10px 0
}
#comp_87783 a.bodylinks, #comp_87784 a.bodylinks, #comp_87782 a.bodylinks {
	color: #28807c;
	font-weight: 700;
	line-height: 1;
	display: block;
	font-size: 20px;
	font-size: 2rem
}
#comp_87783 a.bodylinks:focus, #comp_87783 a.bodylinks:hover, #comp_87784 a.bodylinks:focus, #comp_87784 a.bodylinks:hover, #comp_87782 a.bodylinks:focus, #comp_87782 a.bodylinks:hover {
	color: #1c5956;
	text-decoration: none
}
#block-5_87681 {
	background-color: #28807c
}
#block-5_87681>.panel-body {
	padding: 0 0 15px
}
#block-5_87681>.panel-body>.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}
#comp_87775 span.shortdesc>div:last-of-type {
	margin: 0 auto
}
#comp_87775 span.shortdesc>div:last-of-type a {
	color: #fff
}
#comp_87775 #Table_01 {
	width: 100%;
	color: #fff;
	position:relative; 
	display:block;
}
#comp_87775 #Table_01 #photoStrip1, #comp_87775 #Table_01 #photoStrip2, #comp_87775 #Table_01 #photoStrip3, #comp_87775 #Table_01 #photoStrip4 {
	display: inline-block;
	float: left;
	width: 50%;
	font-size: 0
}

@media (min-width:720px) {
#comp_87775 #Table_01 #photoStrip1, #comp_87775 #Table_01 #photoStrip2, #comp_87775 #Table_01 #photoStrip3, #comp_87775 #Table_01 #photoStrip4 {
	width: 25%
}
}
#comp_87775 #Table_01 #photoStrip1 img, #comp_87775 #Table_01 #photoStrip2 img, #comp_87775 #Table_01 #photoStrip3 img, #comp_87775 #Table_01 #photoStrip4 img {
	width: 100%;
	height: auto
}
#comp_87775 #Table_01 div:last-of-type {
	padding-top: 40px;
	display: block;
	text-align: center;
	width: 100%;
	clear: both;
	font-size: 32px;
	font-size: 3.2rem
}
#block-7_87681>.panel-body {
	padding: 15px 0
}
#block-7_87681>.panel-body>.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}
#block-7_87681>.panel-body>.row-eq-height:nth-of-type(2) {
	display: block!important
}

@media (min-width:1170px) {
#block-7_87681>.panel-body>.row-eq-height:first-child>.col-md-12 {
	margin: 0 auto;
	max-width: 1170px;
	padding-left: 0!important;
	padding-right: 0!important
}
@media (min-width:720px) {
#block-7_87681>.panel-body>.row-eq-height:first-child>.col-md-12 {
padding-left:40px;
padding-right:40px
}
}
#block-7_87681>.panel-body>.row-eq-height:nth-of-type(2) #comp_87777{
	margin: 0 auto;
	max-width: 1170px;
	/* padding-left: 0!important; */
	padding-right: 0!important}
@media (min-width:720px) {
#block-7_87681>.panel-body>.row-eq-height:nth-of-type(2) #comp_87777{
padding-left:40px;
padding-right:40px
}
}
}
#block-7_87681>.panel-body>.row-eq-height.col-md-12 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	float: none
}

@media (min-width:0) {
#block-7_87681 .row {
	margin-left: 0
}
}
#comp_87779 .componentHeaderImg {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	float: none!important
}

@media (min-width:720px) {
#comp_87779 {
	-ms-flex: 1;
	background-color: #F3F3F3;
	margin: 0 auto;
	max-width: 1170px;
	padding-left: 0!important;
	padding-right: 0!important
}
@media (min-width:720px) {
#comp_87779 {
padding-left:40px;
padding-right:40px
}
}
#comp_87779 .componentHeaderImg {
	width: 40%;
	max-width: none;
	float: left!important;
	margin: 0;
	padding: 0
}
}
#comp_87779 ul.contentList {
	list-style: none;
	padding: 40px;
	font-size: 16px;
	font-size: 1.6rem
}

@media (min-width:720px) {
#comp_87779 ul.contentList {
	width: 60%;
	float: left;
	margin: 0
}
}
#comp_87779 ul.contentList li.contentItem {
	list-style-type: none
}
#comp_87777{
	background-color: #255477;
	color: #fff;
	width: 100%;
	-ms-flex: 1;
	clear: both;
	padding: 20px 0 0
	padding-left:30px
}
#comp_87777:after {
	clear: both;
	content: '';
	display: table
}

@media (min-width:720px) {
#comp_87777{
	display: block;
	padding: 0 0 0 40px
}
}
#comp_87777 a {
	color: inherit
}
#comp_87777 a:focus, #comp_87777a:hover {
	color: #59E4EC;
	text-decoration: none
}
#comp_87777 .cTitle {
	display: block;
	color: #fff;
	margin: 0 0 20px;
	text-align: center;
	padding-left: 20px;
	font-size: 24px;
	font-size: 2.4rem
}

@media (min-width:720px) {
#comp_87777 .cTitle {
	margin: 20px 0;
	display: inline-block;
	float: left
}
}
#comp_87777 .componentHeaderImg {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	clear: both;
	float: none!important
}

@media (min-width:720px) {
#comp_87777 .componentHeaderImg {
	float: right!important;
	width: 40%;
	max-width: none;
	margin: 0;
	display: inline-block;
	clear: right
}
}
#comp_87777 ul.splitCol {
	list-style: none;
	text-transform: uppercase;
	width: 30%;
	display: block;
	margin: 0 auto;
	padding: 20px;
	float: left;
	font-size: 16px;
	font-size: 1.6rem
}

@media (min-width:720px) {
#comp_87777 ul.splitCol {
	margin: 0;
	display: inline-block;
	width: 30%;
	padding: 0 0 20px
;float: left;
}
}
#comp_87777ul.splitCol.col_1 {
	clear: left;
	padding-left: 20px
}
#comp_87777 ul.splitCol li.contentItem {
	list-style-type: none;
	left: 0
}
#comp_87776 .col_1 li:nth-of-type(1), #comp_87776 .col_1 li:nth-of-type(2), #comp_87776 .col_2 li:nth-of-type(1), #comp_87776 .col_2 li:nth-of-type(2), #comp_87776 .col_3 li:nth-of-type(1), #comp_87776 .col_3 li:nth-of-type(2) {
	/* padding: 0 0 0 65px
 */}
#comp_87776 .col_1 li:nth-of-type(1):after, #comp_87776 .col_1 li:nth-of-type(2):after, #comp_87776 .col_2 li:nth-of-type(1):after, #comp_87776 .col_2 li:nth-of-type(2):after, #comp_87776 .col_3 li:nth-of-type(1):after, #comp_87776 .col_3 li:nth-of-type(2):after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 0
}
#block-6_87681>.panel-body {
	padding: 15px 0
}
#block-6_87681>.panel-body>.row-eq-height {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1170px
}
#comp_87776 .splitCol {
	width: 100%;
	list-style: none
}

@media (min-width:720px) {
#block-6_87681>.panel-body>.row-eq-height {
	padding-left: 40px;
	padding-right: 40px
}
#comp_87776 .splitCol {
	width: 33.33333%;
	padding-right: 40px
}
}
#comp_87776 .splitCol li {
	list-style-type: none;
	margin: 40px 0;
	line-height: 1.2
}

@media (max-width:720px) {
#comp_87776 .splitCol li:first-child {
	margin: 0 0 20px
}
}
#comp_87776 .splitCol a.bodylinks {
	display: block;
	color: #28807c;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 5px;
	font-size: 20px;
	font-size: 2rem
}
#comp_87776 .splitCol a.bodylinks:focus, #comp_87776 .splitCol a.bodylinks:hover {
	color: #34a7a2;
	text-decoration: none
}
#block-3_87681>.panel-heading {
	position: absolute!important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px)
}
#block-3_87681>.panel-body {
	padding: 0;
	background: url(/images/som/mimap-background_490558_7.png)left center no-repeat;
	background-size: cover
;
	max-width: 1170px;
	margin: 0px auto;
}
#block-3_87681>.panel-body>.row-eq-height {
	padding-left: 0!important;
	padding-right: 0!important
}
#block-3_87681>.panel-body>.row-eq-height>.col-md-5 {
	width: 100%
}

@media (min-width:960px) {
#block-3_87681>.panel-body>.row-eq-height>.col-md-5 {
	width: 41.66667%
}
}
#block-3_87681>.panel-body>.row-eq-height>.col-md-7 {
	width: 100%
}

@media (min-width:960px) {
#block-3_87681>.panel-body>.row-eq-height>.col-md-7 {
	width: 58.33333%
}
}
#comp_87770 {
	text-align: center;
	min-height: 300px;
	line-height: 300px
}
#comp_87770 ul.contentList {
	margin: 0;
	width: 100%
}
#comp_87770 ul.contentList li.contentItem {
	display: block;
	position: relative;
	margin: 0 auto
}
#comp_87770 span.bodylinks {
	position: absolute!important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px)
}
#comp_87770 .shortdesc {
	display: inline-block
}
#comp_87770 .shortdesc a {
	color: #fff
}
#comp_87770 .shortdesc:focus a, #comp_87770 .shortdesc:hover a {
	text-decoration: none;
	color: #59E4EC
}
#comp_87771, #comp_87771 ul.contentList li.contentItem a {
	color: #072C3D
}
#comp_87771 {
	background: #F3F3F3;
	padding: 20px
}
#comp_87771 .cTitle {
	margin: 10px 0
}
#comp_87771 ul.contentList {
	list-style: square;
	padding-left: 20px
}
#comp_87771 ul.contentList li.contentItem {
	list-style-type: square
}
#comp_87771 ul.contentList li.contentItem a:focus, #comp_87771 ul.contentList li.contentItem a:hover {
	color: #255477;
	text-decoration: none
}
#block-1_87681>.panel-body {
	background: url(/images/som/somPanel-1-BG_490537_7.jpg) top center no-repeat;
	background-size: cover;
	padding: 15px 0 20px
}

@media (min-width:960px) {
#block-1_87681>.panel-body {
	padding: 15px 0 150px
}
}
#block-1_87681>.panel-body>.row-eq-height {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1170px
}

@media (min-width:720px) {
#block-1_87681>.panel-body>.row-eq-height {
	padding-left: 40px;
	padding-right: 40px
}
}
#block-1_87681 #comp_87885, #block-1_87681 #comp_87712 {
	color: #fff
}
#block-1_87681 #comp_87885 a, #block-1_87681 #comp_87712 a {
	color: #fff;
	background: 0 0
}
#block-1_87681 #comp_87885 .bodylinks, #block-1_87681 #comp_87712 .bodylinks {
	margin-bottom: 20px;
	display: block
}
#block-1_87681 #comp_87885 .bodylinks:focus, #block-1_87681 #comp_87885 .bodylinks:hover, #block-1_87681 #comp_87712 .bodylinks:focus, #block-1_87681 #comp_87712 .bodylinks:hover {
	color: #59E4EC;
	text-decoration: none
}
#block-1_87681 #comp_87885 {
	background: rgba(0,0,0,.65);
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	-webkit-overflow-scrolling: touch
}
#block-1_87681 #comp_87885:after {
	clear: both;
	content: '';
	display: table
}
#block-1_87681 #comp_87885 .contentList, #block-1_87681 #comp_87885 img {
	/* display: block; */
	/* clear: both
 */}

@media (min-width:720px) {
#block-1_87681 #comp_87885 {
	margin-top: 100px
}
#block-1_87681 #comp_87885 .contentList, #block-1_87681 #comp_87885 img {
	float: left;
	display: inline-block;
	clear: right;
	margin: 0
}
}
#block-1_87681 #comp_87885 img {
	width: 100%;
	max-width: 300px;
	float: none;
	margin: 0 auto 20px
}

@media (min-width:720px) {
#block-1_87681 #comp_87885 img {
	width: 40%;
	margin: 0;
	float: left}
}
#block-1_87681 #comp_87885 .contentList {
	/* width: 100%; */
	/* font-size: 16px; */
	/* font-size: 1.6rem
 */}

@media (min-width:720px) {
#block-1_87681 #comp_87885 .contentList {
	width: 60%;
	padding-left: 20px}
}
#block-1_87681 #comp_87885 .bodylinks {
	font-size: 24px;
	font-size: 2.4rem
}
#block-1_87681 #comp_87712 {
	background: 0 0;
	height: 100%
}
#block-1_87681 #comp_87712 .splitCol {
	display: block;
	width: 100%;
	background: rgba(0,0,0,.65);
	min-height: 100%;
	padding: 10px
}
#block-1_87681 #comp_87712 .contentBlock, #block-1_87681 #comp_87712 .thumbnail {
	display: inline-block;
	clear: both
}

@media (min-width:720px) {
#block-1_87681 #comp_87712 .splitCol {
	display: inline-block;
	width: calc(50% - 5px);
	margin: 0
}
#block-1_87681 #comp_87712 .splitCol.col_1 {
	margin-right: 10px
}
#block-1_87681 #comp_87712 .contentBlock, #block-1_87681 #comp_87712 .thumbnail {
	float: left;
	clear: right;
	margin: 0
}
}
#block-1_87681 #comp_87712 .thumbnail {
	width: 30%;
	max-width: 75px;
	margin: 0 auto 20px
}

@media (min-width:720px) {
#block-1_87681 #comp_87712 .thumbnail {
	width: 30%;
	margin: 0
}
}
#block-1_87681 #comp_87712 .thumbnail a, #block-1_87681 #comp_87712 .thumbnail img {
	width: 100%;
	height: auto
}
#block-1_87681 #comp_87712 .contentBlock {
	/* width: 70%; */
	/* max-width: 275px; */
	padding-left: 10px;
	font-size: 16px;
	font-size: 1.6rem
}

@media (min-width:720px) {
#block-1_87681 #comp_87712 .contentBlock {
	/* width: 70%
 */}
}
#block-1_87681 #comp_87712 .bodylinks {
	display: inline-block;
	max-width: 100%;
	/* overflow: hidden; */
	/* text-overflow: ellipsis; */
	/* white-space: nowrap
 */}
#comp_87717 .nav-pills>li:nth-of-type(1) .dropdown-toggle, #comp_87717 .nav-pills>li:nth-of-type(2) .dropdown-toggle, #comp_87717 .nav-pills>li:nth-of-type(3) .dropdown-toggle {
	position: relative
}
#comp_87717 .nav-pills>li:nth-of-type(1) .dropdown-toggle {
	background: #28807c
}

@media (min-width:960px) {
#comp_87717 .nav-pills>li:nth-of-type(1) .dropdown-toggle:after, #comp_87717 .nav-pills>li:nth-of-type(2) .dropdown-toggle:after, #comp_87717 .nav-pills>li:nth-of-type(3) .dropdown-toggle:after {
	content: "";
	display: block;
	position: relative;
	margin: 10px auto
}
#comp_87717 .nav-pills>li:nth-of-type(1) .dropdown-toggle {
	background: 0 0;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #59E4EC
}
#comp_87717 .nav-pills>li:nth-of-type(1) .dropdown-toggle:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	left: calc(50% - 20px);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #59E4EC
}
}
#comp_87717 .nav-pills>li:nth-of-type(2) .dropdown-toggle {
	background-color: #FF7A3B
}

@media (min-width:960px) {
#comp_87717 .nav-pills>li:nth-of-type(2) .dropdown-toggle {
	background: 0 0;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #FF7A3B
}
#comp_87717 .nav-pills>li:nth-of-type(2) .dropdown-toggle:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	left: calc(50% - 20px);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #FF7A3B
}
}
#comp_87717 .nav-pills>li:nth-of-type(3) .dropdown-toggle {
	background-color: #049DEF
}

@media (min-width:960px) {
#comp_87717 .nav-pills>li:nth-of-type(3) .dropdown-toggle {
	background: 0 0;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #049DEF
}
#comp_87717 .nav-pills>li:nth-of-type(3) .dropdown-toggle:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	left: calc(50% - 20px);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #049DEF
}
}
#block-2_87681>.panel-body {
	padding: 40px 0;
	background: #14304D;
	background: -webkit-gradient(linear, left top, left bottom, from(#14304D), to(#1E4771));
	background: -moz-gradient(center top, #14304D 0, #1E4771 100%);
	background: -webkit-linear-gradient(top, #14304D 0, #1E4771 100%);
	background: linear-gradient(to bottom, #14304D 0, #1E4771 100%)
}

@media (min-width:960px) {
#block-2_87681>.panel-body {
	padding: 15px
}
}
#block-2_87681>.panel-body>.row-eq-height {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1170px
}

@media (min-width:720px) {
#block-2_87681>.panel-body>.row-eq-height {
	padding-left: 40px;
	padding-right: 40px
}
}
#block-2_87681>.panel-body>.row-eq-height:last-of-type {
	background: url(../images/michigan-outline-background.svg)bottom right no-repeat;
	background-size: 40%
}

@media (min-width:960px) {
#block-2_87681>.panel-body>.row-eq-height>.col-md-4 {
	width: 33.33333%
}
}
#comp_87717 {
	position: relative;
	width: 100%
}
#comp_87717 .pill-group, #comp_87717>.contentList {
	width: 100%;
	margin: 0;
	padding: 0
}
#comp_87717 .nav-pills {
	font-size: 0;
	color: #fff
}
#comp_87717 .nav-pills>li {
	width: 100%;
	vertical-align: middle;
	margin: 0;
	font-size: 20px;
	font-size: 2rem
}

@media (min-width:960px) {
#comp_87717 {
	z-index: 10;
	height: 125px;
	top: -62.5px;
	text-align: center;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.2)
}
#comp_87717 .nav-pills>li {
	padding: 0 20px;
	display: inline-block;
	width: 33.33333%;
	height: 125px;
	background: #1E4771;
	background: -webkit-gradient(linear, left top, left bottom, from(#1E4771), to(#14304D));
	background: -moz-gradient(center top, #1E4771 0, #14304D 100%);
	background: -webkit-linear-gradient(top, #1E4771 0, #14304D 100%);
	background: linear-gradient(to bottom, #1E4771 0, #14304D 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E4771', endColorstr='#14304D', GradientType=0 )
}
}
#comp_87717 .nav-pills>li:focus, #comp_87717 .nav-pills>li:hover {
	background-position: 0 0
}
#comp_87717 .nav-pills>li .dropdown-toggle {
	text-transform: uppercase;
	border-radius: 0;
	display: block;
	padding-left: 35px;
	position: relative
}

@media (min-width:960px) {
#comp_87717 .nav-pills>li .dropdown-toggle {
	height: 125px;
	padding-left: 15px
}
}
#comp_87717 .nav-pills>li .dropdown-toggle:before {
	-webkit-transition: -webkit-transform .2s ease-out;
	transition: transform .2s ease-out
}

@media (max-width:960px) {
#comp_87717 .nav-pills>li .dropdown-toggle:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	left: 15px;
	top: 15px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #fff
}
}
#comp_87717 .nav-pills>li .dropdown-toggle.active+ul.dropdown-menu {
	opacity: 1;
	filter: alpha(opacity=100);
	height: 100%;
	min-height: 125px;
	padding: 20px;
	z-index: 10
}

@media (max-width:960px) {
#comp_87717 .nav-pills>li .dropdown-toggle.active:before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}
}
#comp_87717 .nav-pills>li:nth-of-type(1) .services-inner-title {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #59E4EC
}
#comp_87717 .nav-pills>li:nth-of-type(1) .services-inner-title:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	bottom: -20px;
	left: calc(50% - 20px);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid #59E4EC
}

@media (min-width:960px) {
#comp_87717 .nav-pills>li .dropdown-toggle.active+ul.dropdown-menu {
	top: -100%
}
#comp_87717 .nav-pills>li:nth-of-type(2):after, #comp_87717 .nav-pills>li:nth-of-type(2):before {
	content: "";
	display: block;
	position: absolute;
	height: 85px;
	width: 1px;
	top: 20px;
	opacity: .3;
	border-left: 1px dashed #F3F3F3
}
}
#comp_87717 .nav-pills>li:nth-of-type(2):before {
	left: 0
}
#comp_87717 .nav-pills>li:nth-of-type(2) .services-inner-title:before, #comp_87717 .nav-pills>li:nth-of-type(3) .services-inner-title:before {
	display: block;
	height: 0;
	content: "";
	position: absolute;
	width: 0;
	bottom: -20px;
	left: calc(50% - 20px);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent
}
#comp_87717 .nav-pills>li:nth-of-type(2):after {
	right: 0
}
#comp_87717 .nav-pills>li:nth-of-type(2) .services-inner-title {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #FF7A3B
}
#comp_87717 .nav-pills>li:nth-of-type(2) .services-inner-title:before {
	border-top: 15px solid #FF7A3B
}
#comp_87717 .nav-pills>li:nth-of-type(3) .services-inner-title {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #049DEF
}
#comp_87717 .nav-pills>li:nth-of-type(3) .services-inner-title:before {
	border-top: 15px solid #049DEF
}
#comp_87717 .nav-pills>li ul.dropdown-menu {
	position: relative;
	background: #072C3D;
	list-style: square;
	text-align: left;
	display: block;
	padding: 0 20px;
	width: 100%;
	box-shadow: none;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	overflow: hidden;
	height: 0;
	z-index: -1
}
#comp_87721 ul.contentList, #comp_87720 ul.contentList {
	list-style: none
}

@media (min-width:960px) {
#comp_87717 .nav-pills>li ul.dropdown-menu {
	position: absolute;
	top: 0;
	bottom: 0;
	height: auto!important;
	padding: 20px
}
}
#comp_87717 .nav-pills>li ul.dropdown-menu li {
	width: auto;
	margin-left: 20px;
	padding: 10px 0;
	color: #59E4EC;
	font-size: 20px;
	font-size: 2rem
}

@media (min-width:960px) {
#comp_87717 .nav-pills>li ul.dropdown-menu li {
	padding: 0;
	font-size: 18px;
	font-size: 1.8rem
}
}
#comp_87717 .nav-pills>li ul.dropdown-menu li a {
	word-break: break-word;
	color: #fff
}
#comp_87717 .nav-pills>li ul.dropdown-menu li a:hover {
	color: #59E4EC
}
#comp_87717 .nav-pills>li .services-inner-title {
	position: relative;
	display: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	font-size: 2rem
}

@media (min-width:960px) {
#comp_87717 .nav-pills>li .services-inner-title {
	display: block;
	margin-bottom: 20px;
	padding-bottom: 10px
}
}
#comp_87721, #comp_87720, #comp_87718 {
	color: #fff;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding: 20px 0
}

@media (min-width:960px) {
#comp_87721, #comp_87720, #comp_87718 {
	padding: 20px
}
}
#comp_87721 ul.contentList:after, #comp_87720 ul.contentList:after, #comp_87718 ul.contentList:after {
	clear: both;
	content: '';
	display: table
}
#comp_87721 .cTitle, #comp_87720 .cTitle, #comp_87718 .cTitle {
	margin: 20px 0;
	padding: 0;
	font-size: 24px;
	font-size: 2.4rem
}

@media (min-width:960px) {
#comp_87721 {
	margin-left: -20px
}
}
#comp_87721 ul.contentList li.contentItem {
	width: 50%;
	float: left;
	list-style-type: none;
	color: #fff;
	padding: 0;
	margin: 5px 0;
	left: 0;
	font-size: 16px;
	font-size: 1.6rem
}

@media (min-width:960px) {
#comp_87721 ul.contentList li.contentItem {
	padding: 20px 40px 20px 20px;
	background-color: #072C3D;
	width: 100%;
	font-size: 20px;
	font-size: 2rem
}
}
#comp_87721 ul.contentList li.contentItem:nth-of-type(odd) {
	padding-right: 20px
}
#comp_87721 ul.contentList li.contentItem a {
	color: inherit
}
#comp_87721 ul.contentList li.contentItem a:focus, #comp_87721 ul.contentList li.contentItem a:hover {
	color: #59E4EC;
	text-decoration: none
}

@media (min-width:960px) {
#comp_87721 ul.contentList li.contentItem a {
	padding-right: 20px;
	display: block
}
#comp_87721 ul.contentList li.contentItem a:after {
	content: "";
	display: block;
	position: absolute;
	right: 20px;
	top: 20px
}
}
#comp_87721 span.moreLink {
	display: inline-block;
	padding-top: 20px
}
#comp_87720 ul.contentList li.contentItem {
	list-style-type: none;
	color: #fff;
	padding: 20px;
	margin: 0;
	background-color: #072C3D;
	left: 0
}
#comp_87720 ul.contentList li.contentItem .contentBlock {
	position: relative;
	display: inline-block;
	padding-left: 60px
}
#comp_87720 ul.contentList li.contentItem .contentBlock:before {
	content: "";
	display: block;
	position: absolute;
	left: 5px;
	vertical-align: middle
}
#comp_87720 ul.contentList li.contentItem a.bodylinks {
	color: #59E4EC;
	display: block;
	font-size: 24px;
	font-size: 2.4rem
}
#comp_87720 ul.contentList li.contentItem a.bodylinks:after {
	clear: both;
	content: '';
	display: table
}
#comp_87720 ul.contentList li.contentItem a.bodylinks:focus, #comp_87720 ul.contentList li.contentItem a.bodylinks:hover {
	color: #fff;
	text-decoration: none
}
#comp_87718 li.contentItem {
	list-style-type: square;
	left: 20px;
	color: #59E4EC
}
#comp_87718 li.contentItem a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-size: 1.6rem
}
#comp_87718 li.contentItem a:focus, #comp_87718 li.contentItem a:hover {
	color: #59E4EC;
	text-decoration: none
}

@media (min-width:960px) {
#comp_87720 ul.contentList li.contentItem {
	margin: 20px 0
}
#comp_87718 li.contentItem a {
	font-size: 18px;
	font-size: 1.8rem
}
}
#block-4_87681>.panel-body {
	padding: 15px 0 0
}
#block-4_87681>.panel-body>.row-eq-height {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1170px
}

@media (min-width:720px) {
#block-4_87681>.panel-body>.row-eq-height {
	padding-left: 40px;
	padding-right: 40px
}
}

@media (min-width:960px) {
#block-4_87681>.panel-body>.row-eq-height>.col-md-4 {
	width: 40%
}
#block-4_87681>.panel-body>.row-eq-height>.col-md-8 {
	width: 60%
}
}
#comp_87772 {
	display: block;
	width: 100%
}

@media (min-width:960px) {
#comp_87772 {
	display: inline-block;
	float: left
}
}
#comp_87772 li.contentItem {
	display: block;
	margin: 0 0 20px
}
#comp_87772 li.contentItem:after {
	clear: both;
	content: '';
	display: table
}
#comp_87772 time {
	display: block;
	text-transform: uppercase;
	text-align: left;
	color: #255477;
	width: 100%;
	background-color: #fff;
	margin: 0;
	padding: 0;
	line-height: 1.6
}
#comp_87772 time .month {
	display: inline-block;
	margin-right: 5px;
	font-size: 32px;
	font-size: 3.2rem
}

@media (min-width:720px) {
#comp_87772 time {
	display: inline-block;
	background-color: #255477;
	color: #fff;
	width: 30%;
	max-width: 80px;
	height: 80px;
	padding: 10px;
	text-align: center;
	line-height: 1
}
#comp_87772 time .month {
	display: block;
	margin: 0;
	font-size: 22px;
	font-size: 2.2rem
}
}
#comp_87772 time .day {
	display: inline-block;
	font-size: 32px;
	font-size: 3.2rem
}

@media (min-width:720px) {
#comp_87772 time .day {
	display: block;
	font-size: 40px;
	font-size: 4rem
}
}
#comp_87772 .contentBlock {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	color: #255477;
	font-size: 14px;
	font-size: 1.4rem
}

@media (min-width:720px) {
#comp_87772 .contentBlock {
	padding-left: 20px;
	width: 70%
}
}
#comp_87772 .contentBlock a.bodylinks {
	display: block;
	line-height: 1.2;
	margin: 10px 0;
	color: #255477;
	font-size: 20px;
	font-size: 2rem
}

@media (min-width:960px) {
#comp_87772 .contentBlock a.bodylinks {
	margin: 0 0 10px
}
}
#comp_87772 .contentBlock a.bodylinks:focus, #comp_87772 .contentBlock a.bodylinks:hover {
	color: #049DEF;
	text-decoration: none
}
#comp_87772 .contentBlock span.shortdesc {
	color: #777
}
#comp_87772 span.moreLink {
	margin-bottom: 40px
}
#comp_87774 {
	display: block;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 40px
}

@media (min-width:960px) {
#comp_87774 {
	display: inline-block;
	float: left;
	margin-top: 0
}
}
#comp_87774 ul.contentList {
	position: absolute;
	top: 25%;
	width: 100%;
	z-index: 10;
	text-align: center
}
#comp_87774 ul.contentList li.contentItem {
	display: block;
	margin: 10px auto
}

@media (min-width:720px) {
#comp_87774 ul.contentList {
	top: 40%
}
#comp_87774 ul.contentList li.contentItem {
	display: inline-block;
	margin: 0
}
#comp_87774 ul.contentList li.contentItem:first-child {
	margin-right: 20px
}
}
#comp_87774 ul.contentList li.contentItem:focus a.bodylinks, #comp_87774 ul.contentList li.contentItem:hover a.bodylinks {
	color: #59E4EC;
	text-decoration: none
}
#comp_87774 ul.contentList li.contentItem a.bodylinks {
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	text-shadow: 1px 3px 3px rgba(0,0,0,.8)
}
#comp_87774 img {
	width: 100%;
	height: auto
}
@font-face {
	font-family: Interstate;
	src: url(../fonts/interstate-black-webfont.eot);
	src: url(../fonts/interstate-black-webfont.eot?#iefix)format('embedded-opentype'), url(../fonts/interstate-black-webfont.woff)format('woff'), url(../fonts/interstate-black-webfont.ttf)format('truetype');
	font-weight: 400;
	font-style: normal
}


/*-----*/