#nav A {
	PADDING-TOP: 3px
}
#flyout {
	WIDTH: 100%
}
#nav {
	Z-INDEX: 900;
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 100%;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	FLOAT: none;
	HEIGHT: auto;
	MAX-HEIGHT: 900px;
	CLEAR: both;
	OVERFLOW: visible;
	PADDING-TOP: 0px;
}

#nav UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	MARGIN-LEFT: -10px;
	PADDING-TOP: 0px;
	width:100%;
}
#nav LI {
	POSITION: relative;
	MARGIN-TOP:0px;
	WIDTH: 100%;
	/* max-width:150px; */
	/*min-width:150px;*/
	MARGIN-BOTTOM: 0px;
	FLOAT: left
}
#nav UL.Open LI A {
	position: relative;
	top: 0px;
	margin: 0px;
	left: 0px;
}
#nav UL.Open {
	position: relative;
	top: 0px;
	margin: 0px;
	left: 0px;
	width: 100%;
}
#nav LI UL {
	Z-INDEX: 9999;
	POSITION: absolute;
	MARGIN-LEFT: 150px;
	TOP: 0em;
	LEFT: -999em
}
#nav LI UL UL {
	LEFT: -1200em
}
#nav A {
	padding:.5em 3%;
	DISPLAY: block;
	TEXT-DECORATION: none;
	/* border-radius:3px; */
	margin:1px 0px
}
#nav LI A {
	BACKGROUND-COLOR: #fff;
	COLOR: #000;
	/* border-bottom: 1px solid #FFF; */

}
#nav LI A:hover {
	BACKGROUND-COLOR: #999;
	COLOR: #fff;
}
#nav LI UL LI A {
	BACKGROUND-COLOR:#eee;
	COLOR: #000;
}
#nav LI UL LI A:hover {
	BACKGROUND-COLOR: #666;
	COLOR: #fff
}
/*level 1 ON*/
#nav LI A.current, #nav LI A.current:hover {
	COLOR: #fff;
	padding:8px 5%;
	}
#nav LI UL.Open LI A {
	COLOR: #000;
	FONT-WEIGHT: normal;
	text-transform:none;
	border-bottom:1px solid #fff
}
#nav LI UL.Open LI A:hover {
	BACKGROUND-COLOR: #fff;
	COLOR: #000
}
#nav LI UL.Open LI A.current, #nav LI UL.Open LI A.current:hover {
	text-transform:none;
	BACKGROUND-COLOR:#666;
	COLOR:#fff;
	padding:8px 10px;
}
#nav LI UL LI UL LI A {
	BACKGROUND-COLOR: #999;
	COLOR: #fff
}
#nav LI UL LI UL LI A:hover {
	BACKGROUND-COLOR: #CCC;
	COLOR: #000
}
#nav UL.Open LI UL LI A {
	BACKGROUND-COLOR:#FFC;
	COLOR: #000;
	FONT-WEIGHT: normal
}
#nav UL.Open LI UL LI A:hover {
	BACKGROUND-COLOR: #fff;
	COLOR: #000;
	border-bottom:1px solid #999
}
#nav LI UL.Open LI UL.Open A.current, #nav LI UL.Open LI UL.Open A.current:hover {
	COLOR: #000;
	FONT-WEIGHT: normal
}
#nav LI UL.Open li UL LI a {
	background:#fff;
	color:#000;
	padding-left:10%;
	_margin-top:-1px;
	background-image:url(/images/accBullet.png);
	background-repeat:no-repeat;
	background-position:-2px 6px
}
#content {
	MARGIN-LEFT: 12em
}
#screenwidth {
	position:relative;
	top:50px;
	background-color:#FFFFFF;
	color:#000;
	display:none;
	z-index:900
}
#mainnav {
	/*padding: 0.3em;
	border-radius: 5px;
	border: 1px solid #A4AF84;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
	background: #A4AF84;
	position: relative;*/
	font-size: 1.2em;
	Z-INDEX: 900;
	POSITION: relative;
	/*PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 100%;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	FLOAT: left;
	HEIGHT: auto;*/
	
	/*CLEAR: both;
	OVERFLOW: visible;
	PADDING-TOP: 0px;*/
	/*font-size:87.5%;
	MAX-HEIGHT: 900px;*/
}
#mainnav UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	MARGIN-LEFT: -10px;
	PADDING-TOP: 0px;
	border:1px solid #666
}
#mainnav LI,#mainnav LI.migovlink {
	MARGIN-TOP:0px;
	min-width:150px;
	MARGIN-BOTTOM: 0px;
}
#mainnav UL.Open {
	border:0px;
	position: relative;
	top: 0px;
	margin: 0px;
	left: 0px;
}
#mainnav LI UL {
	Z-INDEX: 9999;
	POSITION: absolute;
	MARGIN-LEFT: 150px;
	TOP: 0em;
	LEFT: -999em
}
#mainnav LI UL UL {
	LEFT: -999em
}
#mainnav A #mainnav li.migovlink A{
	padding:.5em 3%;
	_width:100%;
	DISPLAY: block;
	COLOR: black;
	TEXT-DECORATION: none;
	border-top:1px dotted #999
}
#mainnav LI A {
	COLOR: #fff;
	font-weight:bold
}
#mainnav LI A:hover {
	BACKGROUND-COLOR: #fff;
	COLOR: #000
}
#mainnav LI UL LI A {
	BACKGROUND-COLOR:#eee;
	COLOR: #000;
}
#mainnav LI UL LI A:hover {
	BACKGROUND-COLOR: #666;
	COLOR: #fff
}
/*level 1 ON*/
#mainnav LI A.current, #mainnav LI A.current:hover {
	COLOR: #fff;
	font-weight:bold;
	BACKGROUND-COLOR: #069;
}
#mainnav LI UL.Open LI A {
	COLOR: #000;
	FONT-WEIGHT: normal;
	text-transform:none;
}
#mainnav LI UL.Open LI A:hover {
	BACKGROUND-COLOR: #505060;
	COLOR: #fff
}
#mainnav LI UL.Open LI A.current, #mainnav LI UL.Open LI A.current:hover {
	text-transform:none;
	COLOR:#fff;
	padding:8px 10px;
	font-weight:bold;
	BACKGROUND-COLOR: #505060;
	
}
#mainnav LI UL LI UL LI A {
	COLOR: #fff
}
#mainnav LI UL LI UL LI A:hover {
	BACKGROUND-COLOR: #CCC;
	COLOR: #000
}
#mainnav LI UL.Open LI UL.Open A.current, #nav LI UL.Open LI UL.Open A.current:hover, #nav LI UL.Open LI UL.Open LI.Open2 A.current{
COLOR: #000;
background-color: #F0F0F0;
FONT-WEIGHT: bold;
background-image: url(/images/accBullet.png);
background-repeat: no-repeat;
background-position-y: 10px;
}
#mainnav UL.Open LI UL.Open LI A , #nav UL.Open LI  UL.Open LI A{background:#fff;color:#000}
#mainnav UL.Open LI UL.Open LI A:hover , #nav UL.Open LI  UL.Open LI A:hover{background:#ddd;color:#000}
A.meanmenu-reveal {
	DISPLAY: none;
}
A.meanmenu-reveal-menutext {
	DISPLAY: none
}
.mean-container .mean-bar {
	Z-INDEX: 999999;
	POSITION: relative;
	PADDING-BOTTOM: 4px;
	MIN-HEIGHT: 33px;
	PADDING-LEFT: 0px;
	WIDTH: 20%;
	min-width:150px; /*BACKGROUND: #0c1923;*/
	FLOAT: left;
	PADDING-TOP: 4px
}
.mean-container A.meanmenu-reveal {
	POSITION: absolute;
	PADDING-BOTTOM: 8px;
	LINE-HEIGHT: 22px;
	PADDING-LEFT: 10px;/* WIDTH: 222px;*/
	PADDING-RIGHT: 10px;
	background-color: #0c1923;
	DISPLAY: block;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	HEIGHT: 22px;
	COLOR: #fff;
	FONT-SIZE: 1em;
	TOP: 0px;
	CURSOR: pointer;
	FONT-WEIGHT: 700;
	TEXT-DECORATION: none;
	PADDING-TOP: 10px
}
.mean-container A.meanmenu-reveal SPAN {
	MARGIN-TOP: 3px;
	WIDTH: 22px;
	DISPLAY: block;
	BACKGROUND: #fff;
	HEIGHT: 3px
}
.mean-container A.meanmenu-reveal DIV {
POSITION: relative;
COLOR: #fff;
FONT-SIZE: 18px;
TOP: -18px;
float: left;
LEFT: 30px;
}
.mean-container .mean-nav {
	MARGIN-TOP: 36px;
	WIDTH: 320px; /*BACKGROUND: #0c1923;*/
	FLOAT: left;
	position: absolute;
	border-right:0px solid #999
}
.mean-container .mean-nav UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 100%;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}
.mean-container .mean-nav UL LI A {
	TEXT-ALIGN: left;
	PADDING-BOTTOM: 1em;
	TEXT-TRANSFORM: uppercase;
	MARGIN: 0px;
	PADDING-LEFT: 5%;
	WIDTH: 90%;
	DISPLAY: block;
	FLOAT: left;
	COLOR: #fff;
	BORDER-TOP: #383838 1px solid;
	TEXT-DECORATION: none;
	PADDING-TOP: 1em
}
.mean-container .mean-nav UL LI:first-child A {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none
}
.mean-container .mean-nav UL LI LI A {
	FILTER: alpha(opacity=100);
	PADDING-BOTTOM: 1em;
	PADDING-LEFT:5%; /*WIDTH: 95%;*/
	VISIBILITY: visible;
	BORDER-TOP: #f1f1f1 1px solid;
	PADDING-TOP: 1em;
	opacity: 1;
	text-shadow: none
}
.mean-container .mean-nav UL LI LI LI A {
	PADDING-BOTTOM: 1em;
	PADDING-LEFT: 5%; /*WIDTH: 95%;*/
	PADDING-TOP: 1em
}
.mean-container .mean-nav UL LI LI LI LI A {
	PADDING-BOTTOM: 1em;
	PADDING-LEFT: 5%; /*WIDTH: 95%;*/
	PADDING-TOP: 1em
}
.mean-container .mean-nav UL LI LI LI LI LI A {
	PADDING-BOTTOM: 1em;
	PADDING-LEFT: 5%; /*WIDTH: 95%;*/
	PADDING-TOP: 1em
}
.mean-container .mean-nav UL LI LI:first-child A {
	BORDER-TOP: #f1f1f1 1px solid
}
.mean-container .mean-nav UL LI A:hover {
	BACKGROUND: #252525
}
.mean-container .mean-push {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 100%;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	CLEAR: both;
	PADDING-TOP: 0px
}
.mean-nav .wrapper {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 100%;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}
#menubannerLinks a:visited {
	color:#fff
}
@media screen and (max-width: 960px) {
#menubannerLinks {
	POSITION: relative;
	top:-44px;
	CURSOR: pointer;
	TEXT-DECORATION: none;
	text-align: right;
}

#menubannerLinks a:link,#menubannerLinks li.migovlink a  {
	border: none;
	margin: 0;
	position: relative;
	padding-left: 5px;
	top: 0;
	color:#fff;
	background-color:#505060
}
}

 @media screen and (max-width: 479px) {
#menubannerLinks {
	display:none
}
.mean-container .mean-bar {
	Z-INDEX: 999999;
	POSITION: relative;
	PADDING-BOTTOM: 3px;
	MIN-HEIGHT: 33px;
	PADDING-LEFT: 0px;
	WIDTH: 70%;
	min-width:150px;
	BACKGROUND: #505060;
	FLOAT: left;
	
}
.mean-container A.meanmenu-reveal {
	WIDTH: 100%;
}
}
