@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,600,700,300);
#contentWrapper{margin-top:0px; background-color:#fff;padding-top:0px}
.panel{height: auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
h2.panel-heading {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', 800;
	/* text-decoration: line-through; */
	width: 100%;/* display: none; */
	margin: 0;
	height: auto;
}

#comp_87717 .nav-pills>li {
  float: left;
  width: 33%;}
  
#block-1_87681 {
	background-image: url(/images/som/somPanel-1-BG_490537_7.jpg);
	background-size: 100%;
}
#block-2_87681{
}

#block-3_87681 {
}
#block-4_87681 {
}
#block-5_87681 {
}
#block-6_87681 {
}
#block-7_87681 {
}
