%sprite-common{
    background-repeat: no-repeat;
    background-image: url(../{{{sprite}}});
}

{{#shapes}}{{#selector.shape}}{{expression}}{{^last}},
{{/last}}{{/selector.shape}} {
    background-position: {{position.relative.xy}};
    @extend %sprite-common;
    width: {{width.outer}}px; 
    height: {{height.outer}}px;
}


{{/shapes}}  