/* ==========================================================================
   Base
   ========================================================================== */

* {
   @extend %box-sizing;
   &:before, &:after {
      @extend %box-sizing;
   }
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-size: 62.5%;
    background-color: white; 
    -webkit-overflow-scrolling: touch;
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
    line-height: $line-height;
    padding: 0; 
    @include font-size(16);
    @include font-smoothing;
    @extend %pt400; 
    // background-color: none !important; 
}
