/* Fonts */

//Open Sans
%os300, .os300 {
  font-family: $open-sans; 
  font-weight: 300; 
}

%os400, .os400 {
  font-family: $open-sans; 
  font-weight: 400; 
}

%os700, .os700 {
  font-family: $open-sans; 
  font-weight: 700; 
}


//PT Sans
%pt400, .pt400 {
  font-family: $pt-sans; 
  font-weight: 400; 
}

%pt700, .pt700 { 
  font-family: $pt-sans; 
  font-weight: 700; 
}


//Glegoo
%g400, .g400 {
  font-family: $glegoo; 
  font-weight: 400; 
}

%g700, .g700 { 
  font-family: $glegoo; 
  font-weight: 700; 
}


//Source Sans Pro
%ss900, .ss900{
  font-family: $source-sans; 
  font-weight: 900; 
}

