/* Forms
========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

 button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

 button,
 select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

 button,
 html input[type="button"], /* 1 */
 input[type="reset"],
 input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

 button[disabled],
 html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

 button::-moz-focus-inner,
 input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

 input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

 input[type="checkbox"],
 input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

 input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

 fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

 legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

 textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

 optgroup {
  font-weight: bold;
}


//General Custom Form Elements

input[type="text"], input[type="tel"], textarea{
  // border-radius: 5px; 
  border: none; 
  padding: 10px 5px; 
  width: inherit; 
  color: $blue-dark; 
}

.form-entry{
  margin: 20px 0; 
  width: 100%; 
  @include breakpoint-min($mobile){
    margin: 10px 0; 
  }
}

.form-entry-full{
  @extend .form-entry; 
  float: left; 
  .entry-label, .entry-input{
    display: block; 
    text-align: left; 
    @include breakpoint-min($mobile){
      display: inline-block; 
      float: left; 
    }
  }
  .entry-label{
    width: 100%; 
    @include breakpoint-min($mobile){
      max-width: 30%; 
      padding-right: 10px; 
    }
  }
  .entry-input{
    width: 100%; 
    @include breakpoint-min($mobile){
      max-width: 70%; 
    }
  }
}


.form-submit{
  @extend .form-entry; 
  margin-top: 30px; 
  text-align: center; 
  @include breakpoint-min($mobile){
    text-align: left; 
  }
}

.no-label{
  label{
   @extend %visually-hidden; 
 }
}

//fallback method
.file-upload{
  position: relative; 
  height: 80px; 
  width: 100%; 
  clear: both; 
  text-align: center; 
  min-height: 42px; 
  @include breakpoint-min($mobile){
    max-height: 42px; 
    text-align: left; 
  }
  label{
    width: 100%; 
    display: block; 
    text-align: center; 
    @include breakpoint-min($mobile){
      float: left; 
      clear: both; 
      width: calc(100% - 225px);
      display: inline-block; 
      text-align: left; 
    }
  }
  input[type="file"]{
    @extend %clear-border-fixed-size-button;
    position: absolute;   
    margin: 0; 
    padding: 0; 
    opacity: 0; 
    filter: alpha(opacity=0);
    cursor: pointer; 
    @include breakpoint-min($mobile){
      right: 0;
    }
  }
  &:after{
    @extend %clear-border-fixed-size-button;
    content: "Upload";
    position: relative; 
    z-index: -1; 
    @include breakpoint-min($mobile){
      position: absolute; 
      right: 0; 
    }
  }
}

//non-fallback method
.file-upload[data-button-text]:after{
  content: attr(data-button-text); 
}


/*
* "Contact Us" and "Intern With Us" Form Sections
*/ 

.contact-wrapper{
  border: 3px solid white; 
  padding: 20px; 
  margin: 0 auto; 
  width: calc(100% - 60px);
  @include float-clear; 
  @include breakpoint-min($tablet){
    width: 100%; 
    float: left; 
  } 
}

.tab-wrapper{
  position: relative; 
  vertical-align: top;
  padding: 0 30px; 
  @include breakpoint-min($tablet){
    padding: 0; 
  } 
}

.contact, .form-description{
  width: 100%; 
  padding: 0; 
  @include breakpoint-min($desktop){
    width: 50%; 
    float: left; 
    padding: 0 $grid-spacing; 
  }
}


.contact-form{
  display: none; 
  @extend %show-toggle; 
  &.show{
    display: block; 
  }
}    

.form-description{
  @include font-size(18);
}

.toggle-form-button{
  @extend %clear-tab-button; 
  @include font-size(24);
  background-color: $blue-dark;
  color: white; 
  @include breakpoint-min($mobile){
    @include font-size(36);
  }
}

.submit-button{
  @extend %clear-border-fixed-size-button;
}



