/*
* Grid
*/

%grid-container,
.grid-container {
  width: 100%; 
  margin-left: (-$grid-spacing);
  margin-right: (-$grid-spacing);
  @extend %float-clear;
}

.third,
.fourth,
.half,
.two-third,
.fifth,
.two-fifth,
.three-fifth,
.full {
  padding: 0 $grid-spacing;
  float: left;
}

%third,
.third {
  width: (100%/3);
}
%fourth,
.fourth {
  width: (100%/4);
}
%half,
.half {
  width: 100%; 
  @include breakpoint-min($desktop){
    width: (100%/2);
  }
}
%two-third,
.two-third {
  width: (100%/3) * 2;
}
%three-fourth,
.three-fourth {
  width: (100%/4) * 3;
}
%fifth,
.fifth {
  width: (100%/5);
}
%two-fifth,
.two-fifth {
  width: (100%/5) * 2;
}
%three-fifth,
.three-fifth {
  width: (100%/5) * 3;
}
%full,
.full {
  width: 100%;
}


//bootstrap overrides
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11{
  @include breakpoint-max($desktop){
    width: 100%; 
  }
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  width: 100%; 
}




