main{
	display: block; 
	@include float-clear; 
}


ul.inner{
	> li{ 
		list-style: none;  
	}
} 
 

//new
#container{
	max-width: none; 
	padding: $padding 0 0 0; 
	margin: 0;
	@include linear-gradient($blue-gradient-dark, $blue-gradient-light, 1%, 3%);
}

#bodyWrapper{
	@include float-clear; 
	font-size: 0; 
	#menu, #contentWrapper, #footerArea{
		@include font-size(16);
	}
}

#contentWrapper{
	padding-top: 0px; 
	@include float-clear; 
}

.row-eq-height{
	@include breakpoint-max($desktop){
		flex-wrap: wrap; 
	}
}

.panel-group{
	margin-bottom: 0; 
	.panel{
		border-radius: 0; 
		border: none; 
		overflow: visible; 
		box-shadow: none; 
	}
}

div.comp{
	padding: 0; 
	background-color: inherit; 
	@include breakpoint-min(0px){
		display: block; 
	}
}

li.contentItem{
	margin: 0; 
	padding: 0; 
	left: 0; 
}