/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}


%more-link{
	text-transform: uppercase; 
	text-decoration: none; 
	color: $blue-light; 
	position: relative; 
	transition: color 0.2s ease-out; 
	@extend %os700; 
	&:after{
		content: "";
		display: inline-block; 
		margin-left: $padding-half; 
		@extend .svg-arrow-white; 
		vertical-align: middle; 
	}
	&:hover, &:focus{
		color: white; 
	}
}
