%sprite-common{
    background-repeat: no-repeat;
    background-image: url(../images/sprites/sprite.svg);
}

.svg-apple-icon {
    background-position: 50.98039215686274% 59.94946304485154%;
    @extend %sprite-common;
    width: 40px; 
    height: 46.7px;
}


.svg-arrow-white {
    background-position: 78.97196261682242% 81.21144139091419%;
    @extend %sprite-common;
    width: 30px; 
    height: 26.7px;
}


.svg-briefcase-icon {
    background-position: 27.722772277227723% 34.89059727971615%;
    @extend %sprite-common;
    width: 42px; 
    height: 35.9px;
}


.svg-caret-white {
    background-position: 79.22535211267606% 54.85549132947977%;
    @extend %sprite-common;
    width: 16.8px; 
    height: 32px;
}


.svg-carrot-icon {
    background-position: 77.42105263157895% 0;
    @extend %sprite-common;
    width: 54px; 
    height: 53.9px;
}


.svg-citizens-icon {
    background-position: 0 34.89059727971615%;
    @extend %sprite-common;
    width: 56px; 
    height: 35.9px;
}


.svg-facebook-button {
    background-position: 0 85.1764705882353%;
    @extend %sprite-common;
    width: 35px; 
    height: 35px;
}


.svg-fb {
    background-position: 87.43478260869566% 0;
    @extend %sprite-common;
    width: 14px; 
    height: 29.9px;
}


.svg-fb-icon {
    background-position: 49.528301886792455% 83.69942196531792%;
    @extend %sprite-common;
    width: 32px; 
    height: 32px;
}


.svg-fingerprint-icon {
    background-position: 23.432835820895523% 0;
    @extend %sprite-common;
    width: 43px; 
    height: 57.6px;
}


.svg-gear {
    background-position: 97.77272727272727% 40.11049723756906%;
    @extend %sprite-common;
    width: 24px; 
    height: 24px;
}


.svg-google-plus {
    background-position: 0 99.88888888888889%;
    @extend %sprite-common;
    width: 29px; 
    height: 25px;
}


.svg-government-building-icon {
    background-position: 47.2289156626506% 34.705882352941174%;
    @extend %sprite-common;
    width: 36.5px; 
    height: 35px;
}


.svg-graduation-icon {
    background-position: 75.05102040816327% 31.03051237766264%;
    @extend %sprite-common;
    width: 48px; 
    height: 31.3px;
}


.svg-heart-icon {
    background-position: 0 61.18633139909736%;
    @extend %sprite-common;
    width: 52px; 
    height: 49.9px;
}


.svg-home-icon {
    background-position: 27.083333333333332% 60.063291139240505%;
    @extend %sprite-common;
    width: 52px; 
    height: 47px;
}


.svg-life-records-icon {
    background-position: 0 0;
    @extend %sprite-common;
    width: 47.1px; 
    height: 59px;
}


.svg-linkedin {
    background-position: 97.77272727272727% 27.252747252747252%;
    @extend %sprite-common;
    width: 24px; 
    height: 23px;
}


.svg-michigan-icon {
    background-position: 48.18181818181818% 0;
    @extend %sprite-common;
    width: 57px; 
    height: 57px;
}


.svg-resume-icon {
    background-position: 69.23076923076923% 56.420927467300835%;
    @extend %sprite-common;
    width: 36px; 
    height: 36.8px;
}


.svg-search-icon {
    background-position: 99.81438515081207% 0;
    @extend %sprite-common;
    width: 28.5px; 
    height: 28.6px;
}


.svg-twitter {
    background-position: 98.6697247706422% 15.543478260869565%;
    @extend %sprite-common;
    width: 26px; 
    height: 21px;
}


.svg-twitter-button {
    background-position: 33.49282296650718% 85.1764705882353%;
    @extend %sprite-common;
    width: 35px; 
    height: 35px;
}


.svg-twitter-icon {
    background-position: 64.62264150943396% 83.69942196531792%;
    @extend %sprite-common;
    width: 32px; 
    height: 32px;
}


.svg-youtube-button {
    background-position: 16.74641148325359% 85.1764705882353%;
    @extend %sprite-common;
    width: 35px; 
    height: 35px;
}


  