/* 
* Utility
* Very Generic classes that are meant to be extended by your own objects. 
*/


.float-right    { float: right; }
.float-left     { float: left; }
img.float-right { margin: 0 0 $margin $margin; }
img.float-left  { margin: 0 $margin $margin 0; }
.align-right    { text-align: right; }
.align-left     { text-align: left; }
.align-center   { text-align: center; }
img.max-width   { width: 100%; height: auto; }


.visually-hidden, %visually-hidden {
	@include visually-hidden;
}
.float-clear, %float-clear {
	@include float-clear;
}
.image-replace, %image-replace {
	@include image-replace;
}
.box-sizing, %box-sizing {
	@include border-box; 
}

.single-line, %single-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.break-all, %break-all {
	word-break: break-all;
}
%pseudo-absolute {
	position: absolute;
	content: ''; 
	display: inline-block;
}

.no-margin, %no-margin{
	margin: 0; 
}

%margin-half, .margin-half{
	margin: ($margin/2) 0;
}

%image-only-link, .image-only-link {
  text-decoration: none; 
  text-indent: -10000px; 
}

%plain-link, .plain-link {
  text-decoration: none; 
  color: inherit; 
}

.text-align-left{
	text-align: left; 
}
 


