.ie8{
	//Bootstrap Grid

	.col-md-1 {
		width:8.33%;
		float:left;
	}
	.col-md-2 {
		width:16.66%;
		float:left;
	}
	.col-md-3 {
		width:24.99%;
		float:left;
	}
	.col-md-4 {
		width:33%;
		float:left;
	}
	.col-md-5 {
		width:41.65%;
		float:left; 
	} 
	.col-md-6 {
		width:49.98%;
		float:left;
	} 
	.col-md-7 {
		width:58.31%;
		float:left;
	}
	.col-md-8 {
		width:66%;
		float:left;
	}
	.col-md-9 {
		width:74.97%;
		float:left; 
	}
	.col-md-10 {
		width:83.3%;
		float:left;	
	}
	.col-md-11 {
		width:91.63%;
		float:left;
	}
	.col-md-12 {
		width:99.96%;
		float:left;
	}

	//
	//General Elements
	//

	%button-base{
		width: 200px !important; 
		height: 50px !important; 
	}
	
	//
	//Header
	//

	div.mean-container{
		ul#bannerLinks{
			display: none !important;
			padding: 0 !important;
			height: inherit;
			line-height: 1;
			li{
				border-left: 1px solid $teal; 
				&:first-child{ 
					border: none; 
				}
				&:first-child + li + li + li + li{
					border-right: 1px solid $teal; 
				}
				&.migovlink a{
					padding: $padding-half; 
				}
			}

		}
	}

	div.mean-container + #bannerArea{
		@include content-inner; 
		float: none !important; 
		padding-right: $padding !important; 
	}

	div.mean-container + #siteBanner{
		margin: 0 auto !important; 
		width: 250px !important; 
	}
	
	ul#bannerLinks{
		display: inline-block; 
		li{
			border-left: 1px solid $teal; 
			&:first-child{
				border: none; 
			}
		}	
	}
	


	#bannerArea{
		float: left; 
		padding-bottom: $padding; 
	}

	#siteBanner{
		position: absolute; 
		top: 82px; 
		width: 320px; 
	}

	#topNavSearch{
		text-align: right; 
		@include content-inner; 
	}

	#usasearchform{
		float: right; 
	}
	
	//
	//Main Nav
	//

	$main-nav-height: 60px; 

	.main-navigation #nav > li{
		//8
		&:first-child + li + li + li + li + li + li + li{
			border-right: 1px solid $blue-dark; 
		}
		//6, 7 and 8
		&:first-child + li + li + li + li + li,
		&:first-child + li + li + li + li + li + li, &:first-child + li + li + li + li + li + li + li{
			> ul{
				top: 0 !important; 
				position: relative; 
				float: right; 
				left: 0 !important; 
			}
			ul ul{
				left: -100% !important; 
				top: 0 !important; 
			}
		}
	}

	//
	//News
	//
	#block-1_86612 > .panel-body{
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-image: $header-image;
		background: no-repeat center center fixed;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../images/header-image.jpg", sizingMethod="scale");
		padding: 15px 0 150px 0 !important; 
	}


	#comp_86606, #comp_86607{
		background:transparent;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000); 
		zoom: 1;
		width: 100% !important; 
	}

	#comp_86606{
		margin-top: 100px !important; 
		img, .contentList{
			float: left; 
			display: inline-block;
			clear: right; 
			margin: 0;
		}
		img{
			width: 40% !important; 
			height: auto;
			margin: 0; 

		}
		.contentList{
			width: 60% !important; 
			padding-left: $padding-half; 

		}
	}

	#comp_86607{
		.splitCol{
			float: left; 
			display: inline-block !important; 
			width: 49% !important; 
			margin: 0; 
			&.col_1{
				margin-right: 1% !important; 

			}
		}
	}

	//
	//Services
	//
	
	$services-top-height: 125px; 

	#comp_86611{
		z-index: 10; 
		height: $services-top-height; 
		top: -($services-top-height / 2);
		text-align: center;  
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,.2);
	}

	#comp_86611 .nav-pills > li{
		padding: 0 $padding; 
		display: inline-block; 
		width: percentage(1/3);
		height: $services-top-height; 
		background-size: 100% 200px; 
		background-position: 0 -50px; 
		@include linear-gradient($blue-gradient-light, $blue-gradient-dark);
		@extend %transition-bg-position; 
		.dropdown-toggle{
			height: $services-top-height; 
			padding-left: 15px; 
			position: relative; 

			&.active + ul.dropdown-menu{
				top: -100% !important;  
			}
		}
		ul.dropdown-menu{
			position: absolute; 
			top: 0; 
			bottom: 0; 
			height: auto !important; 
			padding: $padding;
		}
	}

	#comp_86611 .nav-pills > li:first-child {
		.dropdown-toggle:after{
			content: "" !important;
			display: block !important; 
			position: relative !important; 
			margin: $padding-half auto !important;  
			background-position: 0 34.89059727971615%;
			width: 56px; 
			height: 35.9px;
			background-image: url(../images/sprites/sprite.png) !important;
		}
		.services-inner-title{
			// @include border-arrow-down($blue-light);
			border-bottom-width: 5px; 
			border-bottom-style: solid; 
			border-bottom-color: $blue-light; 
		}
	}

	#comp_86611 .nav-pills > li:first-child + li {
		.dropdown-toggle:after{
			content: "" !important;
			display: block !important; 
			position: relative !important; 
			margin: $padding-half auto !important;  
			background-position: 27.722772277227723% 34.89059727971615%;
			width: 42px; 
			height: 35.9px;
			background-image: url(../images/sprites/sprite.png) !important;
		}
		.services-inner-title{
			// @include border-arrow-down($orange);
			border-bottom-width: 5px; 
			border-bottom-style: solid; 
			border-bottom-color: $orange; 
		}
	}

	#comp_86611 .nav-pills > li:first-child + li + li {
		.dropdown-toggle:after{
			content: "" !important;
			display: block !important; 
			position: relative !important; 
			margin: $padding-half auto !important;  
			background-position: 69.23076923076923% 56.420927467300835%;    
			width: 36px; 
			height: 36.8px;
			background-image: url(../images/sprites/sprite.png) !important;
		}
		.services-inner-title{
			// @include border-arrow-down($blue-mid-light);
			border-bottom-width: 5px; 
			border-bottom-style: solid; 
			border-bottom-color: $blue-mid-light; 
		}
	}
	

	//Three Services Columns
	#comp_86608, #comp_86609, #comp_86610{
		padding: $padding; 
	}

	//Online Services (Column 1)
	#comp_86608{
		margin-left: -$padding; 
		li.contentItem{
			padding-top: $padding !important; 
			padding-right: $padding-container !important; 
			padding-bottom: $padding !important; 
			padding-left: $padding !important; 
			background-color: $blue-dark; 
			width: 100% !important;  
			@include font-size(20);
			a{
				padding-right: $padding; 
				display: block; 
				&:after{
					content: "";
					display: block; 
					position: absolute; 
					right: $padding;
					top:  $padding; 
					background-position: 79.22535211267606% 54.85549132947977%;
					width: 16.8px; 
					height: 32px;
					background-image: url(../images/sprites/sprite.png) !important;
				}
			}
		}
	}

	//Popular Services (Column 2)
	#comp_86609{
		li.contentItem{
			margin: $padding-container 0; 
			.contentBlock:before{
				content: ""; 
				display: block; 
				position: absolute; 
				left: 5px; 
				vertical-align: middle; 
			}
		}
	}
	
	//
	//Interactive Maps
	//
	#block-3_86612{
		> .panel-body{
			background-image: $map-background; 
			background-repeat: no-repeat; 
			background-position: left center; 
			background-size: 100%; 
			> .row-eq-height{
				> .col-md-8{
					width: percentage(8/12) !important; 
				}
				> .col-md-4{
					width: percentage(4/12) !important; 
				}
			}
		}		
	}

	//
	//Tourism 
	//

	#block-4_86612 > .panel-body > .row-eq-height{
		> .col-md-4{
			width: 40%; 
		}
		> .col-md-8{
			width: 60%; 
		}
	}
	
	//Events
	#comp_86628{
		display: inline-block; 
		float: left; 
		margin-top: 0; 
		time{
			display: block; 
			text-transform: uppercase; 
			text-align: left; 
			color: $blue-mid-dark; 
			width: 100%; 
			background-color: white; 
			margin: 0; 
			padding: 0; 
			line-height: $line-height; 
		}
		.month{
			display: inline-block; 
			margin-right: 5px; 
			@include font-size(32);
		}
		.day{
			display: inline-block; 
			@include font-size(32);
		}
	}

	#comp_86630{
		display: inline-block; 
		float: left; 
		margin-top: 0; 
		padding-left: $padding-container; 
		ul.contentList{
			top: 40%; 
			li.contentItem{
				display: inline-block; 
				margin: 0; 
				&:first-child{
					margin-right: $padding; 
				}
			}
		}
	}
	
		//
	//Image Gallery
	//

	#comp_86629{
		span.shortdesc > div:first-child + div{
			margin: 0 auto; 
			color: white; 
			text-transform: uppercase; 
			display: block; 
			width: 200px; 
			height: 50px; 
			line-height: 50px; 
			text-align: center; 
			border: 1px solid white; 
			color: white; 
			background: none;
			a{
				display: block; 
				width: 100%; 
				height: 100%; 
				color: white; 
			}
			&:hover, &:focus{
				border-color: $blue-light; 
				a{
					color: $blue-light; 
					text-decoration: none; 
				}
			}
		}
		#Table_01{ 
			#photoStrip1, #photoStrip2, #photoStrip3, #photoStrip4{
				width: 25% !important;
			}
			div:first-child + div + div + div + div{
				padding-top: $padding-container;
				display: block; 
				text-align: center; 
				width: 100%; 
				clear: both; 
				@extend %g400; 
				@include font-size(32);
			}
		}
	}
	

	//
	// Highlights
	//
	#comp_86623{
		.splitCol{
			width: percentage(1/3); 
			padding-right: $padding-container;	
			li.contentItem{
				padding: 0 0 0 80px; 
			}
		}
		
	}

	//
	// Governor Section
	//
	
	#block-7_86612{
		> .panel-body > .row-eq-height{
			//container for governor image + callout
			&:first-child > .col-md-12{
				@include content-inner; 
				padding-left: 0 !important; 
				padding-right: 0 !important; 
			}
		}
		.row{
			margin-left: 0 !important; 
		}
	}

	//Governor Bio
	#comp_86637{
		-ms-flex: 1; 
		background-color: $gray !important; 
		@include content-inner; 
		padding-left: 0px !important; 
		padding-right: 0px !important; 
		.componentHeaderImg{
			width: 40%; 
			max-width: none; 
			float: left !important; 
			margin: 0; 
			padding: 0;  
		}
		ul.contentList{
			width: 60%; 
			float: left; 
			margin: 0; 
		}
	}

	//Michigan Reinvention 
	#comp_86636{
		display: block; 
		padding: 0 0 0 $padding-container; 
		.cTitle{
			margin: $padding 0; 
			display: inline-block; 
			float: left; 
		}
		.componentHeaderImg{
			float: right !important; 
			width: 40%; 
			max-width: none; 
			margin: 0; 
			display: inline-block; 
			clear: right; 
		}
		ul.splitCol{
			margin: 0; 
			display: inline-block; 
			width: 30%; 
			padding: 0 0 $padding 0; 
		}
	}

	//
	//Mobile Apps
	//

	//Featured App
	#comp_86640{
		.componentHeaderImg{
			width: 30%; 
			max-width: none; 
			height: auto; 
			float: right; 
			display: inline-block; 
		}
		ul.contentList{
			width: 70%; 
			float: left; 
			display: inline-block; 
			padding-right: $padding;
			margin: 0; 
		}
	}

	//Other Apps 
	#comp_86639, #comp_86641, #comp_86642{
		padding: $padding-container;  
		.shortdesc{
			display: inline; 
			overflow: visible; 
		}
	}

	//Footer
	#footerArea #expandedFooter .footer_4{
		float: left; 
		width: 25%; 
		display: inline-block; 
		padding: 0 $padding; 
	}

}//ie8


