
#block-5_87681{
	> .panel-heading{
		@include visually-hidden; 
	}
	> .panel-body{
		background-color: $teal; 
		padding: 0 0 $padding-container 0; 
		> .row-eq-height{
			display: flex; 
		}
	}
}

#comp_87775{
	a.bodylinks{
		@include visually-hidden; 
	}
	span.shortdesc{
		> div:first-child + div{
			padding-top: $padding; 
			padding-bottom: $padding-container; 
			text-align: center; 
			@extend %pt400; 
			@include content-inner;
			@include font-size(18); 
		}
		> div:first-child + div + div{
			margin: 0 auto; 
			@extend %button-white-clear; 
			a{
				color: white; 
			}
		}
	}
	#Table_01{
		width: 100%;
		color: white;  
		#photoStrip1, #photoStrip2, #photoStrip3, #photoStrip4{
			display: inline-block; 
			float: left; 
			width: 50%;   
			font-size: 0; 
			@include breakpoint-min($tablet){
				width: 25%; 
			}
			img{
				width: 100%; 
				height: auto; 
			}
		}
		div:nth-of-type(5){
			padding-top: $padding-container;
			display: block; 
			text-align: center; 
			width: 100%; 
			clear: both; 
			@extend %g400; 
			@include font-size(32);
		}
	}
	
	
}
