#block-1_87681{
	> .panel-heading{
		@extend %visually-hidden; 
	}
	> .panel-body{
		background: $header-image no-repeat top center; 
		background-size: cover; 		
		padding: 15px 0 $padding 0; 
		@include breakpoint-min($desktop){
			padding: 15px 0 150px 0; 
		} 
		> .row-eq-height{
			@include content-inner; 
		}
	}
	#comp_87885, #comp_87712{
		color: white; 
		a{
			color: white; 
			background: none; 
		}
		.bodylinks{
			margin-bottom: $padding; 
			display: block; 
			@extend %g400; 
			@extend %transition-color; 
			&:hover, &:focus{
				color: $blue-light; 
				text-decoration: none; 
			}
		}
		.moreLink{
			display: block; 
			margin-top: $padding; 
		}
		a.moreLink{
			@extend %more-link;  
		}
	}

	//news-primary
	#comp_87885{
		background: $black-transparent;
		padding: $padding; 
		margin-bottom: $padding;
		margin-top: $padding; 
		-webkit-overflow-scrolling: touch; 
		@include float-clear; 
		@include breakpoint-min($tablet){
			margin-top: 100px; 
		} 
		img, .contentList{
			display: block; 
			clear: both; 
			@include breakpoint-min($tablet){
				float: left; 
				display: inline-block;
				clear: right; 
				margin: 0; 
			}
		}
		img{
			width: 100%; 
			max-width: 300px; 
			float: none; 
			margin: 0 auto $padding auto; 
			@include breakpoint-min($tablet){
				width: 40%; 
				margin: 0; 
				float: left; 
			}

		}
		.contentList{
			width: 100%; 
			@include font-size(16);
			@include breakpoint-min($tablet){
				width: 60%; 
				padding-left: $padding; 
			}
		}
		.bodylinks{
			@include font-size(24);
		}
	}

	//news-secondary container
	#comp_87712{
		background: none; 
		height: 100%; 
		.splitCol{
			display: block; 
			width: 100%; 
			min-width: 100%; 
			background: $black-transparent;
			min-height: 100%;  
			padding: $padding-half; 
			margin: 5px 0; 
			@include breakpoint-min($tablet){
				display: inline-block; 
				width: calc(50% - 5px); 
				min-width: 0; 
				margin: 0; 
				&.col_1{
					margin-right: 10px; 
				}
			}
		}
		.thumbnail, .contentBlock{
			display: inline-block; 
			clear: both; 
			@include breakpoint-min($tablet){
				float: left; 
				clear: right;  
				margin: 0; 
			}
		}
		.thumbnail{
			width: 30%;
			max-width: 75px; 
			margin: 0 auto $padding auto; 
			@include breakpoint-min($tablet){
				width: 30%; 
				margin: 0; 
			}
			a, img{
				width: 100%; 
				height: auto; 
			}
		}
		.contentBlock{
			width: 100%; 
		}
		.thumbnail + .contentBlock{
			width: 70%; 
			max-width: 275px; 
			padding-left: $padding-half; 
			@include font-size(16);
			@include breakpoint-min($tablet){
				width: 70%; 
			}
		}
		.bodylinks{		
			@include ellipsis(100%);
			// @include multiline-ellipsis(50px, 1.6, 100%);
		}
	}
}


