
#block-7_87681{
	> .panel-heading{
		@extend %heading-lined;
		.panel-heading-inner{
			@extend %heading-lined-inner; 
		} 
	}
	> .panel-body {
		padding: 15px 0; 
		> .row-eq-height{
			display: flex; 

			//container for governor image + callout
			&:first-child{
				> .col-md-12{
					@include breakpoint-min($max-width){
						@include content-inner; 
						padding-left: 0 !important; 
						padding-right: 0 !important; 
					}
				}
			}
			
			//container for michigan reinvention
			&:nth-of-type(2){
				// background-color: $blue-mid-dark;
				display: block !important; 
				#comp_87777{
					// @include content-inner; 
					@include breakpoint-min($max-width){
						@include content-inner; 
						padding-left: 0 !important; 
						padding-right: 0 !important; 
					}
				}
			}
			&.col-md-12{
				display: flex; 
				float: none; 
			}
		}
	}
	.row{
		@include breakpoint-min(0){
			margin-left: 0; 
		}
	}
}

//Governor Image + Callout
#comp_87779{
	@include breakpoint-min($tablet){
		-ms-flex: 1; 
		background-color: $gray; 
		@include content-inner; 
		padding-left: 0px !important; 
		padding-right: 0px !important; 
	}
	.componentHeaderImg{
		width: 100%; 
		height: auto; 
		display: block; 
		margin: 0 auto; 
		float: none !important; 
		@include breakpoint-min($tablet){
			width: 40%; 
			max-width: none; 
			float: left !important; 
			margin: 0; 
			padding: 0; 
		}
	}
	ul.contentList{
		list-style: none; 
		padding: $padding-container; 
		@include font-size(16);
		@include breakpoint-min($tablet){
			width: 60%; 
			float: left; 
			margin: 0; 
		}
		li.contentItem{
			list-style-type: none; 
		}
	}
}


//Michigan Reinvention 
#comp_87777{
	background-color: $blue-mid-dark; 
	color: white; 
	width: 100%; 
	-ms-flex: 1; 
	clear: both; 
	padding: $padding 0 0 0; 
	@include float-clear; 
	@include breakpoint-min($tablet){
		display: block; 
		padding: 0 0 0 $padding-container; 
	}
	a{
		@extend %transition-color; 
		color: inherit; 
		&:hover, &:focus{
			color: $blue-light; 
			text-decoration: none; 
		}
	}
	.cTitle{
		display: block; 
		color: white; 
		margin: 0 0 $padding 0; 
		text-align: center; 
		padding-left: $padding; 
		@include font-size(24);
		@extend %os700; 
		@include breakpoint-min($tablet){
			margin: $padding 0; 
			display: inline-block; 
			float: left; 
		}
	}
	.componentHeaderImg{
		width: 100%; 
		// max-width: 350px; 
		height: auto; 
		display: block; 
		margin: 0 auto; 
		clear: both; 
		float: none !important; 
		@include breakpoint-min($tablet){
			float: right !important; 
			width: 40%; 
			max-width: none; 
			margin: 0; 
			display: inline-block; 
			clear: right; 
		}
	}
	ul.splitCol{
		list-style: none; 
		text-transform: uppercase; 
		width: 50% !important; 
		display: block; 
		margin: 0 auto; 
		padding: $padding; 
		float: left; 
		@extend %os700; 
		@include font-size(16);
		@include breakpoint-min($tablet){
			margin: 0; 
			display: inline-block; 
			width: 30% !important; 
			padding: 0 0 $padding 0; 
		}
		&.col_1{
			clear: left; 
			padding-left: $padding; 
		}
		li.contentItem{
			list-style-type: none; 
			left: 0; 
		}
	}
}


