
#block-8_87681{
	> .panel-heading{
		@extend %heading-lined;
		.panel-heading-inner{
			@extend %heading-lined-inner; 
		} 
	}
	> .panel-body{
		padding: 15px 0 0 0; 
		> .row-eq-height:first-child{
			@include content-inner; 
		}
		> .row-eq-height:nth-of-type(2){
			@include breakpoint-min($max-width){
				@include content-inner; 
			}
			
		}
	} 

}

//Featured App
#comp_87781{
	-ms-flex: 1; 
	.componentHeaderImg{
		width: 100%; 
		display: block; 
		max-width: 200px; 
		margin: 0 auto; 
		float: none !important; 
		@include breakpoint-min($tablet){
			width: 30%; 
			max-width: none; 
			height: auto; 
			float: right; 
			display: inline-block; 
		}
	}
	ul.contentList{
		list-style: none; 
		width: 100%; 
		display: block; 
		margin: $padding 0; 
		text-align: left; 
		@include breakpoint-min($tablet){
			width: 70%; 
			float: left; 
			display: inline-block; 
			padding-right: $padding;
			margin: 0; 

		}
		li.contentItem{
			list-style-type: none; 
			left: 0; 
			padding: $padding 0; 
		} 
		.shortdesc{
			display: block; 
			overflow: hidden; 
		}
	}
	.thumbnail{
		max-width: 125px; 
		padding: 0 $padding-half $padding-half 0; 
	}
	a.bodylinks{
		color: $teal; 
		font-weight: 700; 
		line-height: 1; 
		display: block; 
		@extend %transition-color; 
		@include font-size(20);
		&:hover, &:focus{
			color: darken($teal, 10%);
			text-decoration: none; 
		}
	}
	a.shortdesclinks{
		word-break: break-all; 
	}
}

//Other Apps 
%other-apps-base{
	background-color: $gray; 
	padding: $padding-container $padding; 
	@include breakpoint-min($tablet){
		padding: $padding-container; 
	}
	.thumbnail{
		max-width: 85px; 
		padding: 0 $padding-half $padding-half 0; 
	}
	a.bodylinks{
		color: $teal; 
		font-weight: 700; 
		line-height: 1; 
		display: block; 
		@extend %transition-color; 
		@include font-size(20);
		&:hover, &:focus{
			color: darken($teal, 10%);
			text-decoration: none; 
		}
	}
	.shortdesc{
		display: block; 
		overflow: hidden; 
		@include breakpoint-min($desktop){
			display: inline; 
			overflow: visible; 
		}
	}
	a.shortdesclinks{
		word-break: break-all; 
	}
}
#comp_87783, #comp_87784, #comp_87782{
	@extend %other-apps-base; 
}

