$panel-heading-height: 60px; 

#block-3_87681{
	> .panel-heading{
		@include visually-hidden; 
	}
	> .panel-body{
		padding: 0;
		background: $map-background no-repeat left center; 
		background-size: cover; 
		> .row-eq-height{
			padding-left: 0 !important; 
			padding-right: 0 !important; 
			// > .col-md-5{
			> .col-md-8{
				width: 100%; 
				@include breakpoint-min($desktop){
					width: percentage(8/12);
				}
			}
			// > .col-md-7{
			> .col-md-4{
				width: 100%; 
				@include breakpoint-min($desktop){
					width: percentage(4/12);
				}
			} 
		}
	}
}

//Esri Map
#comp_87770{ 
	text-align: center; 
	min-height: 300px; 
	line-height: 300px; 
	ul.contentList{
		margin: 0; 
		width: 100%; 
		li.contentItem{
			display: block; 
			position: relative; 
			margin: 0 auto; 
		}
	}
	span.bodylinks{
		@include visually-hidden; 
	}
	/* "Go To Interactive Map" Button: This will have to change depending on the HTML we get back */
	.shortdesc{
		display: inline-block; 
		@extend %button-white-semitransparent; 
		a{
			color: white; 
		}
		&:hover, &:focus{
			a{
				text-decoration: none; 
				color: $blue-light; 
			}
		}
	}
}

//Interactive Maps
#comp_87771{
	background: $gray; 
	color: $blue-dark; 
	padding: $padding;  
	.cTitle{
		margin: $padding-half 0; 
		@extend %g700; 
	}
	ul.contentList{
		list-style: square; 
		padding-left: $padding; 
		li.contentItem{
			list-style-type: square; 
			a{
				color: $blue-dark; 
				@extend %transition-color; 
				&:hover, &:focus{
					color: $blue-mid-dark; 
					text-decoration: none; 
				}
			}
		}
	}

}