%highlights-link-base{
	// padding: 0 0 0 80px; 
	padding: 0 0 0 65px; 
	&:after{
		content: "";
		position: absolute;
		display: block;
		left: 0;
		top: 0;
	}
}


%property-search-link{
	@extend %highlights-link-base; 
	&:after{
		@extend .svg-home-icon; 
	}
}

%life-records-link{
	@extend %highlights-link-base; 
	&:after{
		@extend .svg-life-records-icon; 
	}
}

%school-lunches-link{
	@extend %highlights-link-base;  
	&:after{
		@extend .svg-carrot-icon; 
	}
}

%criminal-history-link{
	@extend %highlights-link-base; 
	&:after{
		@extend .svg-fingerprint-icon; 
	}
}

%organ-donation-link{
	@extend %highlights-link-base; 
	&:after{
		@extend .svg-heart-icon; 
	}
}

%open-michigan-link{
	@extend %highlights-link-base; 
	&:after{
		@extend .svg-michigan-icon; 
	}
}

//"Highlights" block
#block-6_87681{
// #block-5_86612{
	> .panel-heading{
		@extend %heading-lined;
		.panel-heading-inner{
			@extend %heading-lined-inner; 
		} 
	}
	> .panel-body{
		padding: 15px 0; 
		> .row-eq-height{
			@include content-inner; 
		}
	} 
}

//"Highlights" links wrapper
#comp_87776{
	.splitCol{
		width: 100% !important; 
		list-style: none;
		margin: 0 !important; 
		@include breakpoint-min($desktop){
			width: percentage(1/3) !important; 
			padding-right: $padding-container;
		}
		li{
			list-style-type: none; 
			margin: $padding-container 0; 
			line-height: 1.2; 
			@include breakpoint-min($desktop){
				height: 100px; 
			}
			&:first-child{
				@include breakpoint-max($desktop){
					margin: 0 0 $padding 0; 
				}
			}
		}
		.thumbnail{
			width: 30%; 
			max-width: 60px; 
			display: inline-block; 
			padding: 0; 
			float: none; 
			position: relative; 
			vertical-align: top; 
			img{
				width: auto; 
				height: auto;
				max-height: 60px;  
			}
		}
		.contentBlock{
			width: 70%; 
			display: inline-block;
			padding-left: $padding-half;  

		}
		a.bodylinks{
			display: block; 
			color: $teal; 
			text-transform: uppercase; 
			line-height: 1; 
			margin-bottom: 5px; 
			@extend %pt700;  
			@extend %transition-color; 
			@include font-size(20);
			&:hover, &:focus{
				color: lighten($teal, 10%); 
				text-decoration: none; 
			}
		}
	}
	//left column: Property Search and School Food Services
	// .col_1{
	// 	li{
	// 		&:nth-of-type(1){
	// 			@extend %property-search-link; 
	// 		}
	// 		&:nth-of-type(2){
	// 			@extend %school-lunches-link;
	// 		}
	// 	}
	// }
	//middle column: Organ Donor and Life Records
	// .col_2{
	// 	li{
	// 		&:nth-of-type(1){
	// 			@extend %organ-donation-link; 
				
	// 		}
	// 		&:nth-of-type(2){
	// 			@extend %life-records-link; 
				
	// 		}
	// 	}
	// }
	
	//right column: Search Criminal History and Open Michigan
	// .col_3{
	// 	li{
	// 		&:nth-of-type(1){
	// 			@extend %criminal-history-link; 
	// 		}
	// 		&:nth-of-type(2){
	// 			@extend %open-michigan-link;
	// 		}
	// 	}
	// }



}
