//Tourism Block
#block-4_87681{
	> .panel-heading{
		@extend %heading-lined;
		.panel-heading-inner{
			@extend %heading-lined-inner; 
		} 
	}
	> .panel-body{
		//no padding on bottom b/c it wraps blocks 4-8
		padding: 15px 0 0 0;
		> .row-eq-height{
			@include content-inner; 
			> .col-md-4{
				@include breakpoint-min($desktop){
					width: 40%; 
				} 
			}
			> .col-md-8{
				@include breakpoint-min($desktop){
					width: 60%;  
				} 
			}
		}

	}
}

//Events
#comp_87772{
	display: block; 
	width: 100%; 
	@include breakpoint-min($desktop){
		display: inline-block; 
		float: left; 
	}
	li.contentItem{
		display: block; 
		margin: 0 0 $padding 0; 
		@include float-clear; 
	}
	time{
		display: block; 
		text-transform: uppercase; 
		text-align: left; 
		color: $blue-mid-dark; 
		width: 100%; 
		background-color: white; 
		margin: 0; 
		padding: 0; 
		line-height: $line-height; 
		@extend %os700; 
		@include breakpoint-min($tablet){
			display: inline-block; 
			background-color: $blue-mid-dark; 
			color: white; 
			width: 30%;  
			max-width: 80px; 
			height: 80px; 
			padding: $padding-half;  
			text-align: center; 
			line-height: 1; 
		}
		.month{
			display: inline-block; 
			margin-right: 5px; 
			@include font-size(32);
			@include breakpoint-min($tablet){
				display: block; 
				margin: 0; 
				@include font-size(22);
			}
		}
		.day{
			display: inline-block; 
			@include font-size(32);
			@include breakpoint-min($tablet){
				display: block; 
				@include font-size(40);
			}
		}
	}
	.contentBlock{
		display: inline-block; 
		vertical-align: top; 
		width: 100%;
		color: $blue-mid-dark; 
		@extend %os400; 
		@include font-size(14);
		@include breakpoint-min($tablet){
			padding-left: $padding; 
			width: 70%; 
		}
		a{
			&.bodylinks{
				display: block; 
				line-height: 1.2; 
				margin: $padding-half 0; 
				color: $blue-mid-dark; 
				@extend %transition-color; 
				@include font-size(20);
				@include breakpoint-min($desktop){
					margin: 0 0 $padding-half 0; 
				}
				&:hover, &:focus{
					color: $blue-mid-light; 
					text-decoration: none; 
				}
			}
		}
		span.shortdesc{
			color: $gray-dark; 
		}
	}
	span.moreLink{
		margin-bottom: $padding-container; 
		@extend %button-white; 
		a{
			@extend %plain-link; 
		}
	}
}


//Pure Michigan Image Container
#comp_87774{
	display: block; 
	width: 100%; 
	margin-top: $padding; 
	padding-bottom: $padding-container; 
	@include breakpoint-min($desktop){
		display: inline-block; 
		float: left; 
		margin-top: 0; 
		// padding-left: $padding-container; 
	}
	ul.contentList{
		@extend %plain-list; 
		position: absolute; 
		top: 25%;   
		width: 100%; 
		z-index: 10; 
		text-align: center; 
		@include breakpoint-min($tablet){
			top: 40%;
		}
		li.contentItem{
			display: block; 
			margin: $padding-half auto; 
			@extend %button-white-semitransparent;
			@extend %transition-border-color; 
			@include breakpoint-min($tablet){
				display: inline-block; 
				margin: 0; 
			}
			&:first-child{
				@include breakpoint-min($tablet){
					margin-right: $padding; 
				}
			}
			&:hover, &:focus{ 
				border-color: $blue-light; 
				a.bodylinks{
					color: $blue-light; 
					text-decoration: none; 
				}
			}
			a.bodylinks{
				color: white; 
				display: block; 
				width: 100%; 
				height: 100%; 
				text-shadow: 1px 3px 3px rgba(0,0,0,.8);
				@extend %transition-color; 
				
			} 
		}
	}
	img{
		width: 100%; 
		height: auto; 
	}
}
