

%services-links{
	position: relative; 
	&:after{
		@include breakpoint-min($desktop){
			content: "";
			display: block; 
			position: relative; 
			margin: $padding-half auto;  
		}
		
	}
}

%citizens-services{
	background: $teal; 
	@extend %services-links; 
	@include breakpoint-min($desktop){
		background: none; 
		@include border-arrow-up($blue-light);
	}
	&:after{
		@extend .svg-citizens-icon; 
	}
	
}

%businesses-services{
	background-color: $orange; 
	@extend %services-links; 
	@include breakpoint-min($desktop){
		background: none; 
		@include border-arrow-up($orange);
	}
	&:after{
		@extend .svg-briefcase-icon; 
	}
}

%job-seekers-services{
	background-color: $blue-mid-light; 
	@extend %services-links;  
	@include breakpoint-min($desktop){
		background: none; 
		@include border-arrow-up($blue-mid-light);
	}
	&:after{
		@extend .svg-resume-icon; 
	}
}

#block-2_87681{
	> .panel-heading{
		@extend %visually-hidden; 
	}
	> .panel-body{
		padding: $padding-container 0; 
		@include breakpoint-min($desktop){
			padding: 15px; 
		}
		@include linear-gradient($blue-gradient-dark, $blue-gradient-light);
		> .row-eq-height{
			@include content-inner; 
			&:last-of-type{
				background: $michigan-outline-background no-repeat bottom right; 
				background-size: 40%; 
			}
			> .col-md-4{
				@include breakpoint-min($desktop){
					width: percentage(1/3);
				}
			}
		}
	}

}

//was 150
$services-top-height: 125px; 

#comp_87717{ 
	position: relative; 
	width: 100%; 
	@include breakpoint-min($desktop){
		z-index: 10; 
		height: $services-top-height;  
		top: -($services-top-height/2);
		text-align: center;  
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,.2);
	}
	> .contentList{
		width: 100%;  
		margin: 0; 
		padding: 0; 
	}
	.pill-group{
		width: 100%; 
		margin: 0; 
		padding: 0; 
	}
	.nav-pills{
		font-size: 0; 
		color: white; 
		> li{
			width: 100% !important; 
			vertical-align: middle;
			margin: 0;  
			@include font-size(20);
			@include breakpoint-min($desktop){
				padding: 0 $padding; 
				display: inline-block; 
				width: percentage(1/3) !important;
				height: $services-top-height; 
				
				@include linear-gradient($blue-gradient-light, $blue-gradient-dark);
				background-size: 100% 200px; 
				background-position: 0 -50px; 
				@extend %transition-bg-position; 
			}
			&:hover, &:focus{
				background-position: 0 0; 
			}

			.dropdown-toggle{
				text-transform: uppercase; 
				border-radius: 0; 
				display: block; 
				padding-left: 35px; 
				position: relative; 
				@extend %plain-link; 
				@include breakpoint-min($desktop){
					height: $services-top-height; 
					padding-left: 15px; 
				}
				&:before{
					transition: transform 0.2s ease-out; 
					@include breakpoint-max($desktop){
						content: "";
						display: block; 
						position: absolute; 
						width: 0; 
						height: 0; 
						left: 15px; 
						top: 15px; 
						border-top: $padding-half solid transparent;
						border-bottom: $padding-half solid transparent;
						border-left: $padding-half solid white;
					}
				}
				&.active{
					+ ul.dropdown-menu{ 
						opacity: 1; 
						filter: alpha(opacity=100);
						height: 100%; 
						min-height: $services-top-height; 
						padding: $padding; 
						z-index: 10; 
						@extend %transition-menu-slide-out; 
						@include breakpoint-min($desktop){
							top: -100%; 
						}
					}
					&:before{
						@include breakpoint-max($desktop){
							transform: rotate(90deg);
						}
					}
					
				}
			}

			//If we can add classes to each individual list item, then this part can be rewritten
			&:nth-of-type(1){
				.dropdown-toggle{
					@extend %citizens-services; 
				}
				.services-inner-title{
					@include border-arrow-down($blue-light);
				}
			}
			&:nth-of-type(2){
				&:before, &:after{
					@include breakpoint-min($desktop){
						content: "";
						display: block; 
						position: absolute; 
						height: ($services-top-height - $padding-container); 
						width: 1px; 
						top: 20px;  
						opacity: 0.3;  
						border-left: 1px dashed $gray; 
					}
				}
				&:before{
					left: 0; 
				}
				&:after{
					right: 0; 
				}
				.dropdown-toggle{
					@extend %businesses-services; 
				}
				.services-inner-title{
					@include border-arrow-down($orange);
				}
			}	
			&:nth-of-type(3){
				.dropdown-toggle{
					@extend %job-seekers-services;  
				}
				.services-inner-title{
					@include border-arrow-down($blue-mid-light);
				}
			}
			ul.dropdown-menu{
				position: relative; 
				background: $blue-dark; 
				list-style: square; 
				text-align: left; 
				display: block; 
				padding: 0 $padding; 
				width: 100%; 
				box-shadow: none; 
				border: none; 
				border-radius: 0; 
				margin-bottom: 0;  
				opacity: 0; 
				filter: alpha(opacity=0);
				overflow: hidden; 
				height: 0; 
				z-index: -1; 
				@extend %transition-menu-slide-in; 
				@include breakpoint-min($desktop){
					position: absolute; 
					top: 0; 
					bottom: 0; 
					height: auto !important; 
					padding: $padding;
				} 
				li{
					width: auto; 
					margin-left: $padding; 
					padding: $padding-half 0;
					color: $blue-light;  
					@include font-size(20);
					@include breakpoint-min($desktop){
						padding: 0; 
						@include font-size(18);
					}
					a{
						word-break: break-word; 
						color: white; 
						@extend %transition-color; 
						&:hover{
							color: $blue-light; 
						}
					}
				}
			}
			.services-inner-title{
				position: relative; 
				display: none; 
				text-transform: uppercase; 
				text-align: center; 
				@include font-size(20); 
				@include breakpoint-min($desktop){
					display: block; 
					margin-bottom: $padding; 
					padding-bottom: $padding-half; 
				}		
			}		
		}
	}
}

/*
Bottom part of "Services" block
*/


%column-services-base{
	color: white; 
	width: 100%; 
	display: inline-block; 
	vertical-align: top; 
	padding: $padding 0; 
	@include breakpoint-min($desktop){
		padding: $padding; 
	}
	a{
		@extend %transition-color; 
	}
	ul.contentList{
		@include float-clear; 
	}
	.cTitle{
		margin: $padding 0; 
		padding: 0; 
		color: white; 
		@extend %g400; 
		@include font-size(24);
	}
	span.moreLink a{
		@extend %more-link; 
	}
}

//"Online Services" Links
#comp_87721{
	@extend %column-services-base;
	@include breakpoint-min($desktop){
		margin-left: -$padding; 
	}
	ul.contentList{
		list-style: none; 
		li.contentItem{
			width: 50%; 
			float: left; 
			list-style-type: none; 
			color: white;  
			padding: 0; 
			margin: 5px 0; 
			left: 0; 
			@include font-size(16);
			@include breakpoint-min($desktop){
				padding: $padding $padding-container $padding $padding; 
				background-color: $blue-dark; 
				width: 100%; 
				@include font-size(20);
			}
			&:nth-of-type(odd){
				padding-right: $padding; 
			}
			a{
				color: inherit; 
				&:hover, &:focus{
					color: $blue-light; 
					text-decoration: none; 
				}
				@include breakpoint-min($desktop){
					padding-right: $padding; 
					display: block; 
					&:after{
						content: "";
						display: block; 
						position: absolute; 
						right: $padding;
						top:  $padding; 
						@extend .svg-caret-white; 
					}
				}
			}
		}
	}
	span.moreLink{
		display: inline-block; 
		padding-top: $padding; 
	}
}

//"Popular" Links
#comp_87720{
	@extend %column-services-base; 
	ul.contentList{
		list-style: none; 
		li.contentItem{
			list-style-type: none; 
			color: white; 
			padding: $padding; 
			margin: 0; 
			background-color: $blue-dark; 
			left: 0; 
			@include breakpoint-min($desktop){
				margin: $padding 0; 
			}
			.contentBlock{
				position: relative; 
				display: inline-block; 
				padding-left: 60px; 
				&:before{
					content: ""; 
					display: block; 
					position: absolute; 
					left: 5px; 
					vertical-align: middle; 
				}
			}
			.thumbnail{
				position: absolute; 
				float: none; 
				display: inline-block; 
				padding: 0; 
			}
			a.bodylinks{
				color: $blue-light; 
				display: block; 
				@extend %transition-color;  
				@include font-size(24);
				@include float-clear; 
				&:hover, &:focus{
					color: white; 
					text-decoration: none; 
				}
			}
			// &:nth-of-type(1) .contentBlock:before{
			// 	@extend .svg-apple-icon; 
			// }
			// &:nth-of-type(2) .contentBlock:before{
			// 	@extend .svg-graduation-icon; 
			// }
			// &:nth-of-type(3) .contentBlock:before{
			// 	@extend .svg-government-building-icon; 
			// }
		}
	}
}

//"Featured" Links
#comp_87718{
	@extend %column-services-base; 
	li.contentItem {
		list-style-type: square; 
		left: $padding; 
		color: $blue-light; 
		a{
			color: white; 
			text-decoration: none; 
			@include font-size(16);
			&:hover, &:focus{
				color: $blue-light; 
				text-decoration: none; 
			}
			@include breakpoint-min($desktop){
				@include font-size(18);
			}
		}
	}
}

